@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Sanchez");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Raleway:300");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* LESS THAN 75 */
/* LESS THAN 62 */
/* LESS THAN 48 */
/* LESS THAN 34 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  background-color: #282828;
  border: 1px solid rgba(192, 192, 192, 0.4);
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 1;
  padding: 1.07143em;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background-color: #373737;
    color: #fff !important; }
  button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus {
    outline: none; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #fff; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.71429em/2;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.71429em/2; }

input,
select,
textarea {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 14px; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea {
  background-color: #fff;
  border: 1px solid rgba(192, 192, 192, 0.4);
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  margin-bottom: 0.71429em;
  padding: 0.71429em 1.42857em;
  transition: border-color 0.5s ease;
  width: 100%; }
  input[type="color"]:hover, input[type="color"]:focus, input[type="date"]:hover, input[type="date"]:focus, input[type="datetime"]:hover, input[type="datetime"]:focus, input[type="datetime-local"]:hover, input[type="datetime-local"]:focus, input[type="email"]:hover, input[type="email"]:focus, input[type="month"]:hover, input[type="month"]:focus, input[type="number"]:hover, input[type="number"]:focus, input[type="password"]:hover, input[type="password"]:focus, input[type="search"]:hover, input[type="search"]:focus, input[type="tel"]:hover, input[type="tel"]:focus, input[type="text"]:hover, input[type="text"]:focus, input[type="time"]:hover, input[type="time"]:focus, input[type="url"]:hover, input[type="url"]:focus, input[type="week"]:hover, input[type="week"]:focus, input:not([type]):hover, input:not([type]):focus, textarea:hover, textarea:focus {
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid rgba(192, 192, 192, 0.4); }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.71429em/2; }

[type="file"] {
  margin-bottom: 0.71429em; }

select {
  margin-bottom: 0.71429em;
  width: 100%; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  height: 100%; }

body {
  margin: 0;
  background: #fff; }

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.07143em; }

ol > li,
ul > li {
  display: inline-block; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding: 0.71429em; }

table {
  border-collapse: collapse;
  margin: 0.71429em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid rgba(82, 82, 82, 0.55);
  font-weight: 600;
  padding: 0.71429em 0;
  text-align: left; }

td {
  border-bottom: 1px solid rgba(192, 192, 192, 0.4);
  padding: 0.71429em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 14px; }

h1 {
  font-size: 1.42857em;
  margin: 0;
  font-weight: 500; }

h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
  margin: 0.35714em 0;
  text-transform: uppercase;
  font-weight: 500; }

p {
  margin: 0 0 0.71429em;
  padding: 0.71429em 0.71429em 0.71429em 0;
  line-height: 1.7em;
  font-size: 1.07143em; }

a {
  color: #D2D2D2;
  text-decoration: none;
  transition: all 0.5s ease; }
  a:active, a:focus, a:hover {
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
    outline: none;
    text-decoration: none; }

hr {
  border-bottom: 1px solid rgba(192, 192, 192, 0.4);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y; }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }
.owl-carousel .owl-animated-in {
  z-index: 0; }
.owl-carousel .owl-animated-out {
  z-index: 1; }
.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }
.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3); }
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }
.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }
.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper-pp:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

.fa-gitlab:before {
  content: ""; }

.fa-wpbeginner:before {
  content: ""; }

.fa-wpforms:before {
  content: ""; }

.fa-envira:before {
  content: ""; }

.fa-universal-access:before {
  content: ""; }

.fa-wheelchair-alt:before {
  content: ""; }

.fa-question-circle-o:before {
  content: ""; }

.fa-blind:before {
  content: ""; }

.fa-audio-description:before {
  content: ""; }

.fa-volume-control-phone:before {
  content: ""; }

.fa-braille:before {
  content: ""; }

.fa-assistive-listening-systems:before {
  content: ""; }

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: ""; }

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: ""; }

.fa-glide:before {
  content: ""; }

.fa-glide-g:before {
  content: ""; }

.fa-signing:before,
.fa-sign-language:before {
  content: ""; }

.fa-low-vision:before {
  content: ""; }

.fa-viadeo:before {
  content: ""; }

.fa-viadeo-square:before {
  content: ""; }

.fa-snapchat:before {
  content: ""; }

.fa-snapchat-ghost:before {
  content: ""; }

.fa-snapchat-square:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-first-order:before {
  content: ""; }

.fa-yoast:before {
  content: ""; }

.fa-themeisle:before {
  content: ""; }

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: ""; }

.fa-fa:before,
.fa-font-awesome:before {
  content: ""; }

.fa-handshake-o:before {
  content: ""; }

.fa-envelope-open:before {
  content: ""; }

.fa-envelope-open-o:before {
  content: ""; }

.fa-linode:before {
  content: ""; }

.fa-address-book:before {
  content: ""; }

.fa-address-book-o:before {
  content: ""; }

.fa-vcard:before,
.fa-address-card:before {
  content: ""; }

.fa-vcard-o:before,
.fa-address-card-o:before {
  content: ""; }

.fa-user-circle:before {
  content: ""; }

.fa-user-circle-o:before {
  content: ""; }

.fa-user-o:before {
  content: ""; }

.fa-id-badge:before {
  content: ""; }

.fa-drivers-license:before,
.fa-id-card:before {
  content: ""; }

.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: ""; }

.fa-quora:before {
  content: ""; }

.fa-free-code-camp:before {
  content: ""; }

.fa-telegram:before {
  content: ""; }

.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
  content: ""; }

.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: ""; }

.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: ""; }

.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: ""; }

.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: ""; }

.fa-shower:before {
  content: ""; }

.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
  content: ""; }

.fa-podcast:before {
  content: ""; }

.fa-window-maximize:before {
  content: ""; }

.fa-window-minimize:before {
  content: ""; }

.fa-window-restore:before {
  content: ""; }

.fa-times-rectangle:before,
.fa-window-close:before {
  content: ""; }

.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: ""; }

.fa-bandcamp:before {
  content: ""; }

.fa-grav:before {
  content: ""; }

.fa-etsy:before {
  content: ""; }

.fa-imdb:before {
  content: ""; }

.fa-ravelry:before {
  content: ""; }

.fa-eercast:before {
  content: ""; }

.fa-microchip:before {
  content: ""; }

.fa-snowflake-o:before {
  content: ""; }

.fa-superpowers:before {
  content: ""; }

.fa-wpexplorer:before {
  content: ""; }

.fa-meetup:before {
  content: ""; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.container-admin {
  max-width: 100%; }
  .container-admin .a-navbar {
    display: block;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    float: none; }
    .container-admin .a-navbar::after {
      clear: both;
      content: "";
      display: block; }
    .container-admin .a-navbar:last-child {
      margin-right: 0; }
  .container-admin .admin-content {
    display: block;
    padding-top: 6.07143em; }
    .container-admin .admin-content::after {
      clear: both;
      content: "";
      display: block; }
    @media screen and (max-width: 80.9375em) {
      .container-admin .admin-content {
        padding-top: 5em; } }
    .container-admin .admin-content .a-sidebar-menu {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 18.96686%;
      left: 0;
      right: 0;
      margin: 0; }
      .container-admin .admin-content .a-sidebar-menu:last-child {
        margin-right: 0; }
      @media screen and (max-width: 80.9375em) {
        .container-admin .admin-content .a-sidebar-menu {
          display: none; } }
    .container-admin .admin-content .a-body {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 79.52847%;
      margin-right: 0;
      float: right;
      max-width: 100%;
      padding: 1.42857em 1.78571em 1.42857em 0; }
      .container-admin .admin-content .a-body:last-child {
        margin-right: 0; }
      @media screen and (max-width: 80.9375em) {
        .container-admin .admin-content .a-body {
          padding-left: 1.42857em;
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%; }
          .container-admin .admin-content .a-body:last-child {
            margin-right: 0; } }
      .container-admin .admin-content .a-body .a-footer {
        display: block;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .container-admin .admin-content .a-body .a-footer::after {
          clear: both;
          content: "";
          display: block; }
        .container-admin .admin-content .a-body .a-footer:last-child {
          margin-right: 0; }
      @media screen and (max-width: 80.9375em) {
        .container-admin .admin-content .a-body {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          float: none;
          padding: 2.14286em; }
          .container-admin .admin-content .a-body:last-child {
            margin-right: 0; } }

.a-navbar {
  background-color: #282828;
  margin: 0;
  line-height: 5.35714em;
  vertical-align: middle;
  color: #fff;
  position: fixed;
  z-index: 10; }
  .a-navbar .fa-bars {
    font-size: 1.07143em;
    opacity: 0.9;
    padding-left: 0.71429em;
    display: none; }
  .a-navbar .logo-menu {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 18.96686%;
    text-align: center;
    z-index: 1;
    display: inline-block;
    padding: 0.35714em;
    vertical-align: middle;
    box-shadow: 10px 0 5px -2px rgba(24, 24, 24, 0.95); }
    .a-navbar .logo-menu:last-child {
      margin-right: 0; }
    .a-navbar .logo-menu .a-img-logo {
      width: 10.71429em;
      filter: brightness(5);
      display: inline-block;
      vertical-align: middle; }
    .a-navbar .logo-menu .desktop-l-nav-list {
      display: none; }
    @media screen and (max-width: 80.9375em) {
      .a-navbar .logo-menu {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        background-color: #282828;
        text-align: left;
        margin: 0; }
        .a-navbar .logo-menu:last-child {
          margin-right: 0; }
        .a-navbar .logo-menu .a-img-logo {
          float: right; }
        .a-navbar .logo-menu .desktop-l-nav-list {
          display: inline;
          float: right;
          padding: 0 1.42857em;
          line-height: 4.28571em; }
          .a-navbar .logo-menu .desktop-l-nav-list i {
            padding: 0 0.71429em; } }
    @media screen and (max-width: 80.9375em) and (max-width: 47em) {
      .a-navbar .logo-menu .desktop-l-nav-list {
        display: none; } }
    @media screen and (max-width: 80.9375em) {
          .a-navbar .logo-menu .desktop-l-nav-list li {
            display: inline-block; }
        .a-navbar .logo-menu .fa-bars {
          display: inline-block;
          float: left;
          font-size: 1.78571em;
          padding: 0.85714em; } }

.a-right-menu .a-nav-list-item {
  display: inline-block;
  float: right;
  padding: 0 1.42857em; }
  @media screen and (max-width: 80.9375em) {
    .a-right-menu .a-nav-list-item {
      display: none; } }
  .a-right-menu .a-nav-list-item .fa-plus, .a-right-menu .a-nav-list-item .fa-calendar {
    padding: 0 0.71429em; }
  .a-right-menu .a-nav-list-item .a-nav-img-profile {
    width: 5.71429em;
    border-radius: 100%;
    cursor: pointer;
    padding: 1.14286em; }
    .a-right-menu .a-nav-list-item .a-nav-img-profile img {
      vertical-align: middle; }
.a-right-menu .a-nav-title {
  float: left;
  text-transform: uppercase; }

.a-right-menu ul li {
  line-height: 5.35714em; }
  .a-right-menu ul li ul {
    display: none; }
  .a-right-menu ul li .clon {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    animation: menu2 400ms forwards; }
  .a-right-menu ul li .cloff {
    opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    animation: menu1 400ms forwards; }
@keyframes menu1 {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(0px); }
  100% {
    opacity: 1;
    transform: rotateY(0) translateY(0px); } }
@keyframes menu2 {
  0% {
    opacity: 1;
    transform: rotateY(0) translateY(0px); }
  100% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(0px); } }
.a-right-menu ul .profile-subnav-show {
  display: block;
  position: absolute;
  background: #2f2f2f;
  right: -1.35714em;
  width: 12.14286em; }
  .a-right-menu ul .profile-subnav-show li:last-child {
    padding-bottom: 0.14286em; }
  .a-right-menu ul .profile-subnav-show li {
    display: block;
    line-height: 2.85714em;
    text-align: center;
    cursor: pointer; }
    .a-right-menu ul .profile-subnav-show li .fa-power-off {
      color: #ff4033; }
    .a-right-menu ul .profile-subnav-show li .fa-user, .a-right-menu ul .profile-subnav-show li .fa-power-off {
      padding-right: 0.71429em;
      font-size: 0.71429em; }
    .a-right-menu ul .profile-subnav-show li:hover {
      background: rgba(192, 192, 192, 0.4);
      color: #fff;
      transition: all 0.5s ease; }

.a-sidebar-menu {
  background: #2f2f2f;
  padding: 0.71429em 0;
  position: fixed;
  height: 100%;
  top: 5.35714em;
  font-family: "Montserrat", sans-serif;
  overflow-y: auto;
  top: 6.07143em; }
  .a-sidebar-menu::-webkit-scrollbar {
    width: 0.14286em; }
  .a-sidebar-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  .a-sidebar-menu::-webkit-scrollbar-thumb {
    border-radius: 0.14286em;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

#mySidenav {
  display: none; }
  @media screen and (max-width: 80.9375em) {
    #mySidenav {
      display: block; }
      #mySidenav #test {
        padding-top: 1.42857em;
        z-index: 1; }
      #mySidenav .sidebar-display-show {
        background: #2f2f2f;
        padding: 0.71429em 0;
        position: fixed;
        height: 100%;
        top: 5.35714em;
        font-family: "Montserrat", sans-serif;
        overflow-y: auto;
        top: 5.5em;
        transition: all 0.9s ease;
        left: 0; }
      #mySidenav .sidebar-display-none {
        background: #2f2f2f;
        padding: 0.71429em 0;
        position: fixed;
        height: 100%;
        top: 5.35714em;
        font-family: "Montserrat", sans-serif;
        overflow-y: auto;
        transition: all 0.8s ease;
        left: -35.71429em; } }

.a-sidebar-menu .search-sidebar, #mySidenav .search-sidebar {
  background-color: #282828;
  border: none;
  color: #fff;
  font-size: 1em;
  margin-top: 1.07143em;
  letter-spacing: 0.07143em;
  font-family: "Montserrat", sans-serif;
  padding: 0.85714em 1.42857em; }

.sidebar-menu-list ul, .sidebar-menu-list li {
  display: block; }
  .sidebar-menu-list ul ul, .sidebar-menu-list li ul {
    display: block; }
.sidebar-menu-list li {
  padding: 1.07143em 1.78571em;
  margin-bottom: 0.28571em;
  font-size: 0.92857em;
  cursor: pointer; }
  .sidebar-menu-list li:first-child {
    padding: 1.42857em; }
  .sidebar-menu-list li .fa-home {
    padding-right: 0.71429em; }
  .sidebar-menu-list li .fa-angle-right, .sidebar-menu-list li .fa-angle-up {
    float: right;
    padding-right: 0.71429em; }
    @media screen and (max-width: 89em) {
      .sidebar-menu-list li .fa-angle-right, .sidebar-menu-list li .fa-angle-up {
        padding-right: 0; } }
  .sidebar-menu-list li .fa-angle-down, .sidebar-menu-list li .fa-home, .sidebar-menu-list li .fa-angle-up {
    padding-top: 0.35714em; }
.sidebar-menu-list .active {
  background-color: #515151;
  transition: all 0.5s ease; }
.sidebar-menu-list .inactive {
  background-color: #2f2f2f;
  transition: all 0.5s ease; }
.sidebar-menu-list .sidebar-li-has-ul ul.sideabar-sub-ul {
  display: none;
  padding: 1.42857em 1.42857em 0;
  font-size: 0.92857em; }
  .sidebar-menu-list .sidebar-li-has-ul ul.sideabar-sub-ul li {
    padding: 0.92857em 0; }
    .sidebar-menu-list .sidebar-li-has-ul ul.sideabar-sub-ul li .icon-sub-sidebar {
      color: rgba(192, 192, 192, 0.4);
      padding-right: 0.71429em; }

.a-body {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }
  .a-body::after {
    clear: both;
    content: "";
    display: block; }
  .a-body .latest-post-box {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    .a-body .latest-post-box:last-child {
      margin-right: 0; }
  .a-body .popular-post-box {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    .a-body .popular-post-box:last-child {
      margin-right: 0; }
  .a-body .upcoming-box {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .a-body .upcoming-box:last-child {
      margin-right: 0; }
  .a-body .weather-box {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .a-body .weather-box:last-child {
      margin-right: 0; }
  .a-body .todo-box {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .a-body .todo-box:last-child {
      margin-right: 0; }
  @media screen and (max-width: 63em) {
    .a-body .latest-post-box, .a-body .upcoming-box, .a-body .popular-post-box, .a-body .weather-box, .a-body .todo-box {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-bottom: 1.42857em; }
      .a-body .latest-post-box:last-child, .a-body .upcoming-box:last-child, .a-body .popular-post-box:last-child, .a-body .weather-box:last-child, .a-body .todo-box:last-child {
        margin-right: 0; } }
  .a-body .latest-post-box {
    height: 25.71429em;
    margin-bottom: 1.42857em; }
    @media screen and (max-width: 26.5625em) {
      .a-body .latest-post-box {
        height: 17.85714em; } }
  .a-body .popular-post-box {
    margin-right: 0;
    height: 25.71429em;
    margin-bottom: 1.42857em; }
    @media screen and (max-width: 47em) {
      .a-body .popular-post-box {
        height: 28.57143em; } }
  .a-body .palletes .a-pallete-views, .a-body .palletes .a-pallete-fb, .a-body .palletes .a-pallete-instagram, .a-body .palletes .a-pallete-comment {
    display: block;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    border: 1px solid rgba(192, 192, 192, 0.4);
    height: 7.14286em;
    margin-bottom: 1.42857em; }
    .a-body .palletes .a-pallete-views::after, .a-body .palletes .a-pallete-fb::after, .a-body .palletes .a-pallete-instagram::after, .a-body .palletes .a-pallete-comment::after {
      clear: both;
      content: "";
      display: block; }
    .a-body .palletes .a-pallete-views:last-child, .a-body .palletes .a-pallete-fb:last-child, .a-body .palletes .a-pallete-instagram:last-child, .a-body .palletes .a-pallete-comment:last-child {
      margin-right: 0; }
    @media screen and (max-width: 63em) {
      .a-body .palletes .a-pallete-views, .a-body .palletes .a-pallete-fb, .a-body .palletes .a-pallete-instagram, .a-body .palletes .a-pallete-comment {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        .a-body .palletes .a-pallete-views:last-child, .a-body .palletes .a-pallete-fb:last-child, .a-body .palletes .a-pallete-instagram:last-child, .a-body .palletes .a-pallete-comment:last-child {
          margin-right: 0; }
        .a-body .palletes .a-pallete-views .a-pallete-fb, .a-body .palletes .a-pallete-fb .a-pallete-fb, .a-body .palletes .a-pallete-instagram .a-pallete-fb, .a-body .palletes .a-pallete-comment .a-pallete-fb {
          margin: 0; } }
    @media screen and (max-width: 47em) {
      .a-body .palletes .a-pallete-views, .a-body .palletes .a-pallete-fb, .a-body .palletes .a-pallete-instagram, .a-body .palletes .a-pallete-comment {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .a-body .palletes .a-pallete-views:last-child, .a-body .palletes .a-pallete-fb:last-child, .a-body .palletes .a-pallete-instagram:last-child, .a-body .palletes .a-pallete-comment:last-child {
          margin-right: 0; } }
  .a-body .palletes:last-child {
    margin-right: 0;
    margin: 0; }
  @media screen and (max-width: 63em) {
    .a-body .palletes .a-pallete-fb {
      margin-right: 0; } }
  .a-body .upcoming-box, .a-body .weather-box, .a-body .todo-box {
    height: 17.85714em; }
  .a-body .weather-box {
    margin-right: 0; }

.a-body .latest-post-box, .a-body .popular-post-box, .a-body .upcoming-box, .a-body .weather-box, .a-body .todo-box {
  background: #000000;
  position: relative;
  border: none; }
  .a-body .latest-post-box img, .a-body .popular-post-box img, .a-body .upcoming-box img, .a-body .weather-box img, .a-body .todo-box img {
    height: 100%;
    width: 100%;
    padding: 0;
    opacity: 0.5;
    object-fit: cover; }
  .a-body .latest-post-box .recent-post-line, .a-body .popular-post-box .recent-post-line, .a-body .upcoming-box .recent-post-line, .a-body .weather-box .recent-post-line, .a-body .todo-box .recent-post-line {
    margin: 0; }
  .a-body .latest-post-box .category-top, .a-body .popular-post-box .category-top, .a-body .upcoming-box .category-top, .a-body .weather-box .category-top, .a-body .todo-box .category-top {
    position: absolute;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    color: #fff;
    padding: 1.42857em;
    top: 0;
    left: 0;
    font-family: "Raleway", sans-serif; }
.a-body .latest-post-box .category-top .fa-rss, .a-body .latest-post-box .category-top h3 {
  display: inline-block;
  padding-right: 0.71429em;
  font-size: 1.14286em; }
.a-body .latest-post-box .category-top .text-box-bottom {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  left: 0;
  padding: 1.42857em;
  right: 0;
  bottom: 0; }
  .a-body .latest-post-box .category-top .text-box-bottom h2 {
    font-size: 1.57143em;
    padding: 0 0.71429em 0 0; }
  .a-body .latest-post-box .category-top .text-box-bottom h3, .a-body .latest-post-box .category-top .text-box-bottom p {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    padding: 0.71429em 0;
    font-size: 1em; }
  .a-body .latest-post-box .category-top .text-box-bottom p {
    float: right; }
  @media screen and (max-width: 26.5625em) {
    .a-body .latest-post-box .category-top .text-box-bottom h2 {
      font-size: 1.28571em; } }

.a-body .popular-post-box {
  border: 1px solid rgba(192, 192, 192, 0.4);
  position: relative;
  background: none; }
  .a-body .popular-post-box .main-popular-article img {
    opacity: 0.7; }
  .a-body .popular-post-box .main-popular-article .category-top {
    padding: 0.71429em; }
    .a-body .popular-post-box .main-popular-article .category-top .fa-thumbs-o-up, .a-body .popular-post-box .main-popular-article .category-top h3 {
      display: inline-block;
      padding-right: 0.71429em;
      font-size: 0.85714em; }
    .a-body .popular-post-box .main-popular-article .category-top .text-box-bottom {
      padding: 0 0.71429em; }
      .a-body .popular-post-box .main-popular-article .category-top .text-box-bottom h2 {
        font-family: "Montserrat", sans-serif;
        padding: 1.07143em 0;
        font-size: 1em; }
      .a-body .popular-post-box .main-popular-article .category-top .text-box-bottom p {
        float: right;
        padding: 0; }
  .a-body .popular-post-box ul {
    height: 100%; }
    .a-body .popular-post-box ul .popular-post-article, .a-body .popular-post-box ul .main-popular-article {
      display: block;
      width: 100%; }
    .a-body .popular-post-box ul .popular-post-article {
      height: 30%;
      background: white; }
      .a-body .popular-post-box ul .popular-post-article #smaller-border {
        height: 0.07143em;
        width: 80%;
        margin: -0.06429em auto 0;
        background-color: rgba(192, 192, 192, 0.4); }
      .a-body .popular-post-box ul .popular-post-article .text-box-bottom {
        width: 100%;
        height: 100%;
        padding: 1.42857em 1.42857em 0;
        font-family: "Raleway", sans-serif; }
        @media screen and (max-width: 26.5625em) {
          .a-body .popular-post-box ul .popular-post-article .text-box-bottom {
            padding: 1.42857em 0.71429em; } }
        .a-body .popular-post-box ul .popular-post-article .text-box-bottom h3 {
          font-size: 0.71429em;
          margin: 0; }
        .a-body .popular-post-box ul .popular-post-article .text-box-bottom h2 {
          font-family: "Montserrat", sans-serif;
          font-size: 0.85714em;
          margin-top: 0.57143em;
          line-height: 1.57143em; }
        .a-body .popular-post-box ul .popular-post-article .text-box-bottom p {
          padding: 0;
          margin-left: 0.14286em;
          float: right;
          font-size: 1em; }
    .a-body .popular-post-box ul .main-popular-article {
      height: 40%;
      background: #000000; }

.a-body .palletes .a-pallete-views, .a-body .palletes .a-pallete-fb, .a-body .palletes .a-pallete-instagram, .a-body .palletes .a-pallete-comment {
  display: block;
  overflow: hidden;
  opacity: 0.9; }
  .a-body .palletes .a-pallete-views::after, .a-body .palletes .a-pallete-fb::after, .a-body .palletes .a-pallete-instagram::after, .a-body .palletes .a-pallete-comment::after {
    clear: both;
    content: "";
    display: block; }
.a-body .palletes .a-pallete-views {
  background-color: #464668; }
.a-body .palletes .a-pallete-fb {
  background-color: #355C7d; }
.a-body .palletes .a-pallete-instagram {
  background-color: #7f714f; }
.a-body .palletes .a-pallete-comment {
  background-color: #5a5050; }
.a-body .palletes .fa-globe, .a-body .palletes .fa-facebook, .a-body .palletes .fa-instagram, .a-body .palletes .fa-comments {
  padding: 25px 0 15px 20px;
  width: 10%;
  margin-left: -0.42857em;
  font-size: 7.14286em;
  opacity: 0.2;
  float: left; }
.a-body .palletes .palette-text {
  float: right;
  padding: 0.35714em 1.42857em 0 0;
  width: 90%;
  font-size: 1.28571em;
  font-family: "Raleway", sans-serif;
  color: #fff;
  text-align: right; }
  .a-body .palletes .palette-text h2, .a-body .palletes .palette-text h3 {
    display: block; }
  .a-body .palletes .palette-text h3 {
    font-size: 1.57143em;
    text-align: right;
    margin: 0; }

.a-body .todo-box img {
  opacity: 0.7; }
.a-body .todo-box .category-top {
  overflow: auto; }
  .a-body .todo-box .category-top::-webkit-scrollbar {
    width: 0.57143em; }
  .a-body .todo-box .category-top::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); }
  .a-body .todo-box .category-top::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2); }
  .a-body .todo-box .category-top .fa-list-ul, .a-body .todo-box .category-top h3 {
    display: inline-block;
    padding-right: 0.71429em;
    font-size: 1.14286em; }
  .a-body .todo-box .category-top .text-box-bottom .check-box-input {
    padding: 1.42857em 0 0; }
    .a-body .todo-box .category-top .text-box-bottom .check-box-input hr {
      margin: 1.07143em 0 0; }
    .a-body .todo-box .category-top .text-box-bottom .check-box-input label {
      font-family: "Montserrat", sans-serif;
      font-size: 0.92857em;
      line-height: 1.71429em;
      padding-left: 2.14286em;
      cursor: pointer;
      position: relative;
      width: 100%;
      display: inline; }
    .a-body .todo-box .category-top .text-box-bottom .check-box-input input[type=checkbox] {
      display: none; }
    .a-body .todo-box .category-top .text-box-bottom .check-box-input label:before {
      content: "";
      display: inline-block;
      width: 1.28571em;
      height: 1.28571em;
      margin-top: 0.14286em;
      position: absolute;
      left: 0;
      background-color: rgba(192, 192, 192, 0.4);
      border: 1px solid #fff; }
    .a-body .todo-box .category-top .text-box-bottom .check-box-input input[type=checkbox]:checked + label:before {
      content: "✓";
      transition: all 0.5s ease;
      font-size: 1em;
      line-height: 1em;
      color: #fff;
      text-align: center; }

.a-body .upcoming-box {
  position: relative; }
  .a-body .upcoming-box img {
    opacity: 0.75; }
  .a-body .upcoming-box .category-top {
    padding: 1.42857em; }
  .a-body .upcoming-box .fa-calendar-check-o, .a-body .upcoming-box h3 {
    display: inline-block;
    padding-right: 0.71429em;
    font-size: 1.14286em; }
  .a-body .upcoming-box .text-box-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.42857em; }
    .a-body .upcoming-box .text-box-bottom h2 {
      font-family: "Montserrat", sans-serif;
      font-size: 1.28571em; }
    .a-body .upcoming-box .text-box-bottom h3 {
      font-size: 0.85714em; }
    .a-body .upcoming-box .text-box-bottom p {
      font-size: 1.35714em; }
      @media screen and (max-width: 26.5625em) {
        .a-body .upcoming-box .text-box-bottom p {
          padding-top: 0; } }

.a-body .weather-box {
  position: relative; }
  .a-body .weather-box img {
    opacity: 1; }
  .a-body .weather-box .category-top {
    padding: 1.42857em; }
  .a-body .weather-box .fa-thermometer-empty, .a-body .weather-box h3 {
    display: inline-block;
    padding-right: 0.71429em;
    font-size: 1.14286em; }
  .a-body .weather-box .text-box-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.42857em; }
    .a-body .weather-box .text-box-bottom h2 {
      font-family: "Montserrat", sans-serif;
      font-size: 1.28571em; }
    .a-body .weather-box .text-box-bottom h3, .a-body .weather-box .text-box-bottom .fa-sun-o, .a-body .weather-box .text-box-bottom h4, .a-body .weather-box .text-box-bottom .fa-cloud, .a-body .weather-box .text-box-bottom .fa-tint, .a-body .weather-box .text-box-bottom .fa-snowflake-o {
      display: inline-block;
      padding-right: 0; }
    .a-body .weather-box .text-box-bottom .fa-sun-o, .a-body .weather-box .text-box-bottom .fa-cloud, .a-body .weather-box .text-box-bottom .fa-tint, .a-body .weather-box .text-box-bottom .fa-snowflake-o {
      padding-right: 0.35714em;
      font-size: 3.57143em; }
    .a-body .weather-box .text-box-bottom h3 {
      font-size: 4.28571em; }
    .a-body .weather-box .text-box-bottom h4 {
      font-size: 3.57143em; }
      .a-body .weather-box .text-box-bottom h4 span {
        font-size: 0.28571em;
        vertical-align: top; }
    .a-body .weather-box .text-box-bottom p {
      font-size: 1.35714em;
      padding: 0;
      margin: 0; }

.a-body .menu {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding: 1.42857em; }
  .a-body .menu:last-child {
    margin-right: 0; }
  .a-body .menu > ul {
    display: inline-block;
    list-style: none;
    cursor: pointer;
    width: 100%; }
    .a-body .menu > ul > li {
      float: left;
      width: 10.71429em;
      text-align: center;
      height: 3.21429em;
      line-height: 3.21429em;
      margin-right: 1.42857em;
      color: #fff;
      background: #282828;
      text-transform: uppercase;
      position: relative;
      border: 1px solid rgba(192, 192, 192, 0.4); }
  .a-body .menu ul.drop-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0; }
    .a-body .menu ul.drop-menu li {
      background: #282828;
      border: 1px solid rgba(192, 192, 192, 0.4);
      border-bottom: none;
      font-size: 0.85714em;
      cursor: pointer; }
      .a-body .menu ul.drop-menu li:hover {
        background: #323232;
        transition: all 0.5s ease; }
  .a-body .menu ul.drop-menu li {
    display: none; }
  .a-body .menu li:hover > ul.drop-menu li {
    display: block;
    opacity: 0;
    font-size: 12px;
    line-height: 3.21429em; }
    .a-body .menu li:hover > ul.drop-menu li:nth-child(1) {
      animation-name: menu4;
      animation-duration: 300ms;
      animation-delay: -180ms;
      animation-fill-mode: forwards; }
    .a-body .menu li:hover > ul.drop-menu li:nth-child(2) {
      animation-name: menu4;
      animation-duration: 300ms;
      animation-delay: -60ms;
      animation-fill-mode: forwards; }
    .a-body .menu li:hover > ul.drop-menu li:nth-child(3) {
      animation-name: menu4;
      animation-duration: 300ms;
      animation-delay: 60ms;
      animation-fill-mode: forwards; }
    .a-body .menu li:hover > ul.drop-menu li:nth-child(4) {
      animation-name: menu4;
      animation-duration: 300ms;
      animation-delay: 180ms;
      animation-fill-mode: forwards; }
    .a-body .menu li:hover > ul.drop-menu li:nth-child(5) {
      animation-name: menu4;
      animation-duration: 300ms;
      animation-delay: 300ms;
      animation-fill-mode: forwards; }
    .a-body .menu li:hover > ul.drop-menu li:nth-child(6) {
      animation-name: menu4;
      animation-duration: 300ms;
      animation-delay: 420ms;
      animation-fill-mode: forwards; }
  .a-body .menu li:hover > ul.drop-menu {
    perspective: 71.42857em; }
@keyframes menu4 {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(30px); }
  100% {
    opacity: 1;
    transform: rotateX(0deg); } }
  .a-body .menu .fa-angle-right {
    padding-right: 0.71429em; }
  .a-body .menu .filter-right-list-item {
    float: right;
    background: #fff;
    color: rgba(54, 54, 54, 0.66);
    font-family: "Montserrat", sans-serif;
    border: none;
    font-size: 0.85714em;
    width: 19.28571em; }
    .a-body .menu .filter-right-list-item ul.drop-menu li, .a-body .menu .filter-right-list-item ul.right {
      background: #fff;
      color: #282828; }
      .a-body .menu .filter-right-list-item ul.drop-menu li li:hover, .a-body .menu .filter-right-list-item ul.right li:hover {
        background: #f5f5f5;
        transition: all 0.5s ease; }
      .a-body .menu .filter-right-list-item ul.drop-menu li:last-child, .a-body .menu .filter-right-list-item ul.right:last-child {
        border-bottom: 1px solid rgba(192, 192, 192, 0.4); }
    .a-body .menu .filter-right-list-item .fa-angle-down {
      padding-left: 0.71429em; }

.a-body .article-dashboard {
  clear: both; }
  .a-body .article-dashboard .article-text {
    padding: 1.42857em;
    font-size: 0.71429em; }
    .a-body .article-dashboard .article-text .horizontal-line {
      border-left: 0.21429em solid #3f3f3f;
      display: inline-block;
      height: 100%;
      padding-left: 2.14286em; }
      .a-body .article-dashboard .article-text .horizontal-line h2 {
        font-family: "Montserrat", sans-serif;
        font-size: 1.57143em;
        padding: 0.35714em 0; }
      .a-body .article-dashboard .article-text .horizontal-line h3 {
        text-transform: uppercase; }
      .a-body .article-dashboard .article-text .horizontal-line h4 {
        font-style: italic;
        text-transform: none;
        color: #868686; }
    .a-body .article-dashboard .article-text .articles-btn {
      display: inline-block;
      float: right;
      padding: 1.42857em 0 0; }
      .a-body .article-dashboard .article-text .articles-btn p {
        padding-right: 1.42857em;
        font-size: 1.28571em; }
      .a-body .article-dashboard .article-text .articles-btn .edit-btn:hover, .a-body .article-dashboard .article-text .articles-btn .archive-btn:hover, .a-body .article-dashboard .article-text .articles-btn .delete-btn:hover {
        opacity: 0.8;
        transition: all 0.5s ease; }
      .a-body .article-dashboard .article-text .articles-btn .edit-btn {
        background-color: #004700; }
      .a-body .article-dashboard .article-text .articles-btn .archive-btn {
        background-color: #2A0D45; }
      .a-body .article-dashboard .article-text .articles-btn .delete-btn {
        background-color: #7F0000; }
      .a-body .article-dashboard .article-text .articles-btn .fa-pencil-square-o {
        padding-right: 0.35714em; }
      .a-body .article-dashboard .article-text .articles-btn p, .a-body .article-dashboard .article-text .articles-btn .crud-btn, .a-body .article-dashboard .article-text .articles-btn .fa-pencil-square-o {
        display: inline-block; }

.a-article-edit {
  position: relative;
  height: 100%; }
  .a-article-edit .main-content-card {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .a-article-edit .main-content-card:last-child {
      margin-right: 0; }
  .a-article-edit .aside-card {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-right: 0;
    border: 1px solid rgba(192, 192, 192, 0.4);
    padding: 2.85714em; }
    .a-article-edit .aside-card:last-child {
      margin-right: 0; }
  .a-article-edit .main-content-card, .a-article-edit .aside-card {
    margin-bottom: 1.42857em; }
    @media screen and (max-width: 48em) {
      .a-article-edit .main-content-card, .a-article-edit .aside-card {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .a-article-edit .main-content-card:last-child, .a-article-edit .aside-card:last-child {
          margin-right: 0; } }
  .a-article-edit .a-editor {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .a-article-edit .a-editor:last-child {
      margin-right: 0; }
  .a-article-edit .main-content-card {
    padding: 1.42857em; }
    @media screen and (max-width: 63em) {
      .a-article-edit .main-content-card {
        padding: 0; } }
    .a-article-edit .main-content-card ::-webkit-input-placeholder {
      font-family: "Roboto", sans-serif;
      text-transform: uppercase; }
    .a-article-edit .main-content-card label, .a-article-edit .main-content-card input, .a-article-edit .main-content-card p {
      display: inline-block;
      font-size: 1em;
      font-weight: 500; }
    .a-article-edit .main-content-card label {
      text-transform: uppercase;
      font-size: 0.85714em; }
    .a-article-edit .main-content-card .image-form {
      text-align: center; }
      .a-article-edit .main-content-card .image-form input[type="file"], .a-article-edit .main-content-card .image-form input[type="button"] {
        display: block;
        width: 0;
        opacity: 0;
        position: absolute; }
      .a-article-edit .main-content-card .image-form p {
        font-size: 1.14286em;
        text-transform: uppercase; }
      .a-article-edit .main-content-card .image-form .input-file {
        padding: 0.71429em;
        background-color: #282828;
        border: 1px solid rgba(192, 192, 192, 0.4);
        color: #fff;
        cursor: pointer;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        text-align: center;
        margin-left: 0.71429em; }
        .a-article-edit .main-content-card .image-form .input-file:hover {
          opacity: 0.8;
          transition: all 0.5s ease; }
  .a-article-edit #mceu_23-body, .a-article-edit #mceu_24 {
    padding: 0.35714em; }
  .a-article-edit #mceu_33-body {
    margin-bottom: 0.35714em; }
  .a-article-edit .a-editor #upload {
    display: none; }
  .a-article-edit .a-editor button:hover {
    background: #fff;
    color: #313131 !important; }
  .a-article-edit .mce-btn:hover, .a-article-edit .mce-active, .a-article-edit .mce-active:hover {
    background: white; }
  .a-article-edit .image-manager-modal {
    padding: 1.42857em;
    overflow-y: auto;
    z-index: 1;
    border: 1px solid rgba(192, 192, 192, 0.4);
    background: #fff;
    width: 100%;
    position: absolute; }
    .a-article-edit .image-manager-modal .modal-content-img {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%;
      border-left: 1px solid rgba(192, 192, 192, 0.4);
      padding: 0 0 0 1.42857em; }
      .a-article-edit .image-manager-modal .modal-content-img:last-child {
        margin-right: 0; }
      @media screen and (max-width: 48em) {
        .a-article-edit .image-manager-modal .modal-content-img {
          padding: 0;
          border: none; } }
      .a-article-edit .image-manager-modal .modal-content-img .img-row-modal {
        display: block;
        margin-bottom: 0.71429em;
        cursor: pointer; }
        .a-article-edit .image-manager-modal .modal-content-img .img-row-modal::after {
          clear: both;
          content: "";
          display: block; }
        .a-article-edit .image-manager-modal .modal-content-img .img-row-modal .image-modal {
          float: left;
          display: block;
          margin-right: 3.16844%;
          width: 31.22104%; }
          .a-article-edit .image-manager-modal .modal-content-img .img-row-modal .image-modal:last-child {
            margin-right: 0; }
          @media screen and (max-width: 47em) {
            .a-article-edit .image-manager-modal .modal-content-img .img-row-modal .image-modal {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 100%; }
              .a-article-edit .image-manager-modal .modal-content-img .img-row-modal .image-modal:last-child {
                margin-right: 0; } }
          .a-article-edit .image-manager-modal .modal-content-img .img-row-modal .image-modal img {
            padding: 0; }
          .a-article-edit .image-manager-modal .modal-content-img .img-row-modal .image-modal p {
            padding: 0.35714em;
            margin: 0; }
        .a-article-edit .image-manager-modal .modal-content-img .img-row-modal .img-modal-selected {
          border: 1px solid; }
          @media screen and (max-width: 47em) {
            .a-article-edit .image-manager-modal .modal-content-img .img-row-modal .img-modal-selected {
              margin-bottom: 0.71429em; } }
      .a-article-edit .image-manager-modal .modal-content-img .pagination {
        text-align: center;
        margin-top: 1.07143em; }
        .a-article-edit .image-manager-modal .modal-content-img .pagination li {
          margin-right: -0.28571em;
          text-align: center;
          padding: 0.71429em 1.07143em;
          border-top: 1px solid rgba(192, 192, 192, 0.4);
          border-bottom: 1px solid rgba(192, 192, 192, 0.4);
          color: #000000;
          cursor: pointer; }
          .a-article-edit .image-manager-modal .modal-content-img .pagination li:nth-child(1), .a-article-edit .image-manager-modal .modal-content-img .pagination li:last-child {
            border-left: 1px solid rgba(192, 192, 192, 0.4);
            border-right: 1px solid rgba(192, 192, 192, 0.4); }
          .a-article-edit .image-manager-modal .modal-content-img .pagination li:hover {
            background: #000000;
            color: #fff;
            transition: all ease 0.5s; }
    .a-article-edit .image-manager-modal .modal-content-aside {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .a-article-edit .image-manager-modal .modal-content-aside:last-child {
        margin-right: 0; }
      .a-article-edit .image-manager-modal .modal-content-aside input[type="text"] {
        padding: 1.07143em-2; }
      .a-article-edit .image-manager-modal .modal-content-aside input[type="submit"] {
        width: 100%;
        margin-bottom: 1.78571em; }
      .a-article-edit .image-manager-modal .modal-content-aside h2 {
        text-transform: uppercase;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-size: 1.14286em;
        padding: 0.71429em 0;
        border-bottom: 1px solid rgba(192, 192, 192, 0.4);
        border-top: 1px solid rgba(192, 192, 192, 0.4);
        letter-spacing: 0.04286em;
        margin-bottom: 0.71429em; }
      .a-article-edit .image-manager-modal .modal-content-aside img {
        padding: 0; }
      .a-article-edit .image-manager-modal .modal-content-aside p {
        margin: 0; }
    @media screen and (max-width: 48em) {
      .a-article-edit .image-manager-modal .modal-content-aside, .a-article-edit .image-manager-modal .modal-content-img {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .a-article-edit .image-manager-modal .modal-content-aside:last-child, .a-article-edit .image-manager-modal .modal-content-img:last-child {
          margin-right: 0; } }

.copyright {
  text-align: right;
  margin: 0;
  padding-bottom: 0;
  opacity: 0.3; }

/*# sourceMappingURL=admin-app.css.map */
