@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Sanchez");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Raleway:300");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* LESS THAN 75 */
/* LESS THAN 62 */
/* LESS THAN 48 */
/* LESS THAN 34 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  background-color: #fff;
  border: 1px solid #eeeded;
  border-radius: 0;
  color: #000000;
  cursor: pointer;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 1;
  padding: 1.07143em;
  width: 100%;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background-color: rgba(54, 54, 54, 0.66);
    color: #fff; }
  button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus {
    outline: none; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #fff; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.71429em/2;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.71429em/2; }

input,
select,
textarea {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea {
  background-color: #fff;
  border: 1px solid #eeeded;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  margin-bottom: 0.71429em;
  padding: 0.71429em 1.42857em;
  transition: border-color 0.5s ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover {
    border-color: #bebebe; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus {
    border-color: none;
    box-shadow: none;
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #eeeded; }
  input[type="color"]::placeholder, input[type="date"]::placeholder, input[type="datetime"]::placeholder, input[type="datetime-local"]::placeholder, input[type="email"]::placeholder, input[type="month"]::placeholder, input[type="number"]::placeholder, input[type="password"]::placeholder, input[type="search"]::placeholder, input[type="tel"]::placeholder, input[type="text"]::placeholder, input[type="time"]::placeholder, input[type="url"]::placeholder, input[type="week"]::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #666666; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.71429em/2; }

[type="file"] {
  margin-bottom: 0.71429em;
  width: 100%; }

select {
  margin-bottom: 0.71429em;
  width: 100%; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  height: 100%; }

body {
  margin: 0; }

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

ol > li,
ul > li {
  display: inline-block; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding: 0.71429em; }

table {
  border-collapse: collapse;
  margin: 0.71429em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b3b2b2;
  font-weight: 600;
  padding: 0.71429em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #eeeded;
  padding: 0.71429em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #000000;
  font-family: "Sanchez", sans-serif;
  font-size: 14px; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 0 0 0.71429em;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center; }

h2,
h3,
h4,
h5,
h6 {
  font-family: "Sanchez", sans-serif;
  font-size: 14px;
  margin: 0.35714em 0;
  text-transform: uppercase;
  font-weight: 500; }

p {
  margin: 0 0 0.71429em;
  padding: 0.71429em 0.71429em 0.71429em 0;
  line-height: 1.7em;
  font-size: 1em; }

a {
  color: #000000;
  text-decoration: none;
  transition: all 0.5s ease; }
  a:active, a:focus, a:hover {
    color: #000000;
    cursor: pointer;
    transition: all 0.5s ease;
    outline: none;
    text-decoration: none; }

hr {
  border-bottom: 1px solid #eeeded;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y; }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }
.owl-carousel .owl-animated-in {
  z-index: 0; }
.owl-carousel .owl-animated-out {
  z-index: 1; }
.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }
.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3); }
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }
.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }
.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper-pp:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

.fa-gitlab:before {
  content: ""; }

.fa-wpbeginner:before {
  content: ""; }

.fa-wpforms:before {
  content: ""; }

.fa-envira:before {
  content: ""; }

.fa-universal-access:before {
  content: ""; }

.fa-wheelchair-alt:before {
  content: ""; }

.fa-question-circle-o:before {
  content: ""; }

.fa-blind:before {
  content: ""; }

.fa-audio-description:before {
  content: ""; }

.fa-volume-control-phone:before {
  content: ""; }

.fa-braille:before {
  content: ""; }

.fa-assistive-listening-systems:before {
  content: ""; }

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: ""; }

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: ""; }

.fa-glide:before {
  content: ""; }

.fa-glide-g:before {
  content: ""; }

.fa-signing:before,
.fa-sign-language:before {
  content: ""; }

.fa-low-vision:before {
  content: ""; }

.fa-viadeo:before {
  content: ""; }

.fa-viadeo-square:before {
  content: ""; }

.fa-snapchat:before {
  content: ""; }

.fa-snapchat-ghost:before {
  content: ""; }

.fa-snapchat-square:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-first-order:before {
  content: ""; }

.fa-yoast:before {
  content: ""; }

.fa-themeisle:before {
  content: ""; }

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: ""; }

.fa-fa:before,
.fa-font-awesome:before {
  content: ""; }

.fa-handshake-o:before {
  content: ""; }

.fa-envelope-open:before {
  content: ""; }

.fa-envelope-open-o:before {
  content: ""; }

.fa-linode:before {
  content: ""; }

.fa-address-book:before {
  content: ""; }

.fa-address-book-o:before {
  content: ""; }

.fa-vcard:before,
.fa-address-card:before {
  content: ""; }

.fa-vcard-o:before,
.fa-address-card-o:before {
  content: ""; }

.fa-user-circle:before {
  content: ""; }

.fa-user-circle-o:before {
  content: ""; }

.fa-user-o:before {
  content: ""; }

.fa-id-badge:before {
  content: ""; }

.fa-drivers-license:before,
.fa-id-card:before {
  content: ""; }

.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: ""; }

.fa-quora:before {
  content: ""; }

.fa-free-code-camp:before {
  content: ""; }

.fa-telegram:before {
  content: ""; }

.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
  content: ""; }

.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: ""; }

.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: ""; }

.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: ""; }

.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: ""; }

.fa-shower:before {
  content: ""; }

.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
  content: ""; }

.fa-podcast:before {
  content: ""; }

.fa-window-maximize:before {
  content: ""; }

.fa-window-minimize:before {
  content: ""; }

.fa-window-restore:before {
  content: ""; }

.fa-times-rectangle:before,
.fa-window-close:before {
  content: ""; }

.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: ""; }

.fa-bandcamp:before {
  content: ""; }

.fa-grav:before {
  content: ""; }

.fa-etsy:before {
  content: ""; }

.fa-imdb:before {
  content: ""; }

.fa-ravelry:before {
  content: ""; }

.fa-eercast:before {
  content: ""; }

.fa-microchip:before {
  content: ""; }

.fa-snowflake-o:before {
  content: ""; }

.fa-superpowers:before {
  content: ""; }

.fa-wpexplorer:before {
  content: ""; }

.fa-meetup:before {
  content: ""; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.42857em; }
  .container::after {
    clear: both;
    content: "";
    display: block; }

.nav {
  text-align: center;
  padding: 10px; }
  .nav li {
    padding: 10px 15px;
    text-transform: uppercase; }
    .nav li a {
      opacity: 0.8; }
      .nav li a:hover, .nav li a:active, .nav li a:focus {
        opacity: 1;
        transition: all 0.5s ease; }

.logo {
  padding-top: 1.42857em;
  max-width: 80%; }

.logo-description {
  text-align: center; }
  .logo-description .logo-line {
    width: 5%;
    border-top: 1px solid #eeeded;
    display: inline-block;
    margin: 0 auto; }
  .logo-description .logo-title {
    display: inline-block;
    padding: 10px; }

.social-icon {
  text-align: center;
  padding: 0 0.71429em 0.71429em; }
  .social-icon a {
    display: inline-block;
    padding: 0 0.71429em 0.71429em; }

.articles {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  padding-left: 1.42857em;
  padding-right: 1.42857em; }
  .articles:last-child {
    margin-right: 0; }
  @media screen and (max-width: 63em) {
    .articles {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      padding: 0; }
      .articles:last-child {
        margin-right: 0; } }
  .articles .secondary-article {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 48.21067%;
    margin-right: 0;
    width: 50%; }
    .articles .secondary-article:last-child {
      margin-right: 0; }
    .articles .secondary-article img {
      padding: 0.71429em 1.42857em 0.71429em 0; }
      @media screen and (max-width: 47em) {
        .articles .secondary-article img {
          padding: 0; } }
    @media screen and (max-width: 47em) {
      .articles .secondary-article {
        padding: 0;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .articles .secondary-article:last-child {
          margin-right: 0; } }

.sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-right: 0; }
  .sidebar:last-child {
    margin-right: 0; }
  @media screen and (max-width: 63em) {
    .sidebar {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .sidebar:last-child {
        margin-right: 0; } }

.owl-carousel {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding: 0; }
  .owl-carousel:last-child {
    margin-right: 0; }
  .owl-carousel img {
    padding: 0; }
  @media screen and (max-width: 63em) {
    .owl-carousel {
      padding: 0; } }
  @media screen and (max-width: 47em) {
    .owl-carousel.owl-loaded {
      display: none; } }
  .owl-carousel .owl-prev, .owl-carousel .owl-next {
    position: absolute;
    top: 50%;
    font-size: 1.42857em;
    color: #000000;
    opacity: 0.5;
    border: 1px solid #eeeded;
    background-color: #fff;
    padding: 0.71429em 1.07143em; }
  .owl-carousel .owl-next {
    right: 0;
    margin-right: 2.14286em; }
  .owl-carousel .owl-prev {
    left: 0;
    margin-left: 2.14286em; }

.slider-nav {
  width: 100%;
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 2.14286em; }
  @media screen and (max-width: 47em) {
    .slider-nav {
      display: none; } }
  .slider-nav .slide-article-title {
    display: table-cell;
    width: 33.33333%;
    margin-right: 0;
    padding: 2.14286em;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 1.07143em; }
    @media screen and (max-width: 63em) {
      .slider-nav .slide-article-title {
        display: table-cell;
        width: 100%;
        display: none; } }
    .slider-nav .slide-article-title:first-child, .slider-nav .slide-article-title:last-child {
      border: 1px solid #eeeded; }
    .slider-nav .slide-article-title:nth-child(2) {
      border-top: 1px solid #eeeded;
      border-bottom: 1px solid #eeeded; }
    .slider-nav .slide-article-title .post-meta {
      display: block;
      padding-top: 0.71429em; }
      .slider-nav .slide-article-title .post-meta .post-category {
        display: inline-block;
        font-size: 0.71429em;
        color: rgba(54, 54, 54, 0.66);
        padding-right: 3.57143em; }
      .slider-nav .slide-article-title .post-meta .post-date {
        font-size: 0.85714em;
        display: inline-block; }
  .slider-nav .active {
    background-color: rgba(240, 240, 240, 0.7); }
    @media screen and (max-width: 63em) {
      .slider-nav .active {
        display: block; } }

.main-article .main-article-img {
  margin: 0;
  padding: 0;
  width: 100%; }
.main-article .category-text {
  font-family: "Montserrat", sans-serif;
  font-size: 0.78571em;
  text-transform: uppercase;
  padding-top: 1.42857em;
  margin: 0; }
.main-article .title-main-article {
  letter-spacing: 0.07143em;
  text-transform: uppercase;
  font-size: 1.28571em;
  margin: 0;
  padding-top: 10px; }
.main-article .content-main-article {
  padding-top: 10px;
  margin: 0;
  font-size: 1em; }

.date-main-article {
  font-size: 0.78571em;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  margin: 0;
  padding-top: 10px; }

.sidebar-affix {
  position: fixed;
  top: 0.71429em;
  width: 50%; }

.about-me-header {
  border-top: 1px solid #eeeded;
  border-bottom: 1px solid #eeeded;
  padding: 1.07143em;
  margin-bottom: 1.42857em; }

.about-me-img {
  width: 17.85714em; }

.about-me-title {
  font-size: 1.14286em;
  text-align: center;
  padding: 1.42857em 0.71429em 0.35714em; }

.about-me-line {
  width: 50%;
  margin: 0 auto;
  clear: both; }

.about-me-description {
  font-size: 0.92857em;
  padding: 0.71429em;
  text-align: center; }

.categories-heading {
  border-top: 1px solid #eeeded;
  border-bottom: 1px solid #eeeded;
  padding: 1.07143em; }

.categories-list {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
  line-height: 1.42857em; }
  .categories-list .fa-angle-right {
    padding-right: 10px; }
  .categories-list .categories-list-item {
    display: block;
    border-bottom: 1px solid #eeeded;
    padding: 10px;
    opacity: 0.8; }
    .categories-list .categories-list-item:hover {
      opacity: 1;
      transition: all 0.5s ease;
      font-weight: 500; }

.recent-post-heading {
  border-top: 1px solid #eeeded;
  border-bottom: 1px solid #eeeded;
  padding: 1.07143em;
  margin: 2.14286em 0; }

.recent-post-article {
  padding: 0 1.07143em;
  display: block;
  clear: both; }
  .recent-post-article:hover .recent-post-article-text {
    opacity: 0.8;
    transition: all 0.5s ease; }
  .recent-post-article .recent-post-img {
    width: 40%;
    float: left;
    padding: 0 0.71429em 0.71429em 0.71429em; }
    @media screen and (max-width: 20em) {
      .recent-post-article .recent-post-img {
        padding: 0;
        width: 45%; } }
  .recent-post-article .recent-post-article-text {
    padding-left: 50%; }
    .recent-post-article .recent-post-article-text h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 0.92857em; }
    .recent-post-article .recent-post-article-text p {
      font-style: italic;
      font-size: 0.78571em; }

.recent-post-line {
  padding-top: 0.35714em;
  margin: 1.42857em auto;
  clear: both;
  width: 50%; }

.newsletter-header {
  border-top: 1px solid #eeeded;
  border-bottom: 1px solid #eeeded;
  padding: 1.07143em;
  margin: 2.14286em 0; }

.social-icon-list {
  text-align: right;
  padding-right: 1.42857em; }
  @media screen and (max-width: 23.4375em) {
    .social-icon-list {
      padding-right: 0; } }
  .social-icon-list p {
    padding: 0;
    font-size: 1.07143em;
    line-height: 1.07143em; }
  .social-icon-list .item-left {
    float: left;
    color: #eeeded;
    font-style: italic; }
    .social-icon-list .item-left p {
      display: inline-block;
      margin-right: 0.35714em; }
    .social-icon-list .item-left:hover {
      color: #000000;
      transition: all 0.5s ease; }
  .social-icon-list .social-icon-list-item {
    padding: 0 0 0 10px;
    display: inline-block; }
    @media screen and (max-width: 26.5625em) {
      .social-icon-list .social-icon-list-item {
        padding: 0 10px 0 0; } }
    .social-icon-list .social-icon-list-item:hover {
      opacity: 0.6;
      transition: all 0.5s ease; }
    .social-icon-list .social-icon-list-item:hover .fa-heart-o {
      color: red;
      transition: all 0.5s ease; }

.line-break {
  margin-right: 1.42857em; }
  @media screen and (max-width: 47em) {
    .line-break {
      margin-right: 0; } }

.second-article .secondary-article-img {
  width: 100%; }
  @media screen and (min-width: 48em) {
    .second-article .secondary-article-img {
      padding: 0 0 1.42857em; } }
.second-article .title-main-article {
  font-size: 1.14286em;
  text-align: center;
  text-transform: none;
  margin: 0;
  padding: 1.42857em 0.71429em 0 0.71429em;
  line-height: 1.64286em; }
  @media screen and (min-width: 48em) {
    .second-article .title-main-article {
      padding-top: 0; } }
.second-article .content-main-article {
  padding: 10px 0.71429em 0 0.71429em;
  margin: 0;
  font-size: 1em; }
.second-article .date-main-article {
  text-align: center; }

.pagination {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900; }
  .pagination .prev-next-text {
    padding: 0 0.71429em;
    display: inline-block; }
    @media screen and (max-width: 63em) {
      .pagination .prev-next-text {
        padding-bottom: 1.42857em; } }
    @media screen and (max-width: 23.4375em) {
      .pagination .prev-next-text {
        padding: 0em 0em 0.71429em 0; } }
    .pagination .prev-next-text a {
      color: #eeeded; }
      .pagination .prev-next-text a:hover {
        color: black; }
  .pagination .fa-angle-left {
    padding-right: 0.71429em; }
    @media screen and (max-width: 23.4375em) {
      .pagination .fa-angle-left {
        margin-left: 0.71429em; } }
  .pagination .fa-angle-right {
    padding-left: 0.71429em; }

.main-img-article {
  padding: 0; }

.title-article-big {
  padding: 1.07143em 1.42857em;
  text-align: center; }
  .title-article-big .header-category-text {
    font-size: 0.78571em;
    opacity: 0.6;
    letter-spacing: 0.14286em;
    font-weight: 400; }
    @media screen and (max-width: 26.5625em) {
      .title-article-big .header-category-text {
        font-size: 0.71429em; } }
  .title-article-big .header-text-title {
    font-size: 2.85714em;
    font-weight: 500;
    padding: 0; }
    @media screen and (max-width: 26.5625em) {
      .title-article-big .header-text-title {
        font-size: 1.42857em; } }

.header-time .header-list .header-list-item {
  display: inline-block;
  padding: 0 0.71429em;
  font-size: 0.85714em;
  color: rgba(54, 54, 54, 0.66);
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif; }

.article-text-tags {
  display: block;
  text-align: center; }
  .article-text-tags .link-tag {
    padding: 0.71429em 1.42857em;
    margin-right: 0.71429em;
    border-top: 1px solid #eeeded;
    border-right: 1px solid #eeeded;
    border-bottom: 1px solid #eeeded;
    border-left: 1px solid #eeeded;
    font-family: "Montserrat", sans-serif;
    font-size: 0.92857em;
    color: #eeeded;
    font-weight: 100;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 1.42857em; }
  .article-text-tags a:hover {
    color: black;
    border-color: black; }

.social-icon .social-icon-list-item {
  font-size: 1.07143em; }
  .social-icon .social-icon-list-item:hover {
    opacity: 0.6;
    transition: all 0.5s ease; }
.social-icon .share-item {
  font-size: 0.71429em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 100; }

.heading-suggestion {
  clear: both;
  display: block; }

.article-suggestion {
  display: table-cell;
  width: 33.33333%;
  padding: 1.07143em 0;
  margin: 0; }
  @media screen and (max-width: 47em) {
    .article-suggestion {
      display: table-cell;
      width: 100%;
      padding: 0.35714em 0;
      display: block;
      margin: 0 auto;
      max-width: 70%; } }
  @media screen and (max-width: 26.5625em) {
    .article-suggestion {
      max-width: 100%; } }
  .article-suggestion .header-category-text-suggestion {
    font-size: 0.78571em;
    letter-spacing: 0.02857em;
    font-family: "Montserrat", sans-serif;
    margin-top: 0.71429em;
    color: rgba(54, 54, 54, 0.66); }
  .article-suggestion .suggestion-title {
    font-size: 1em;
    padding: 0.57143em;
    text-transform: none; }

.comments-section {
  padding: 1.42857em; }
  .comments-section .comment {
    margin-bottom: 2.5em;
    padding-right: 3.57143em; }
    @media screen and (max-width: 47em) {
      .comments-section .comment {
        padding-right: 0; } }
    .comments-section .comment .img-comments {
      height: 7.14286em;
      border-radius: 100%;
      width: 7.14286em;
      float: left; }
    .comments-section .comment .comment-author {
      padding-left: 15%; }
      @media screen and (max-width: 23.4375em) {
        .comments-section .comment .comment-author {
          padding-left: 5%; } }
      .comments-section .comment .comment-author .author {
        font-size: 1.14286em; }
      .comments-section .comment .comment-author .comment-text {
        padding-left: 1.07143em; }
      .comments-section .comment .comment-author .social-icon-list {
        text-align: left;
        margin-bottom: 1.42857em; }
        @media screen and (max-width: 47em) {
          .comments-section .comment .comment-author .social-icon-list {
            text-align: center; } }
      .comments-section .comment .comment-author .about-me-line {
        width: 90%; }

.leave-comment-text {
  margin-top: 1.42857em;
  margin-bottom: 1.42857em;
  height: 100px;
  resize: none;
  padding-top: 1.78571em; }

.list-comment {
  display: block;
  width: 100%;
  display: table;
  width: 100%;
  table-layout: fixed; }
  .list-comment .comment-list-item {
    width: 100%;
    display: table-cell;
    width: 33.33333%;
    padding: 2.35765%;
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
    margin-bottom: 0.71429em; }
    @media screen and (max-width: 47em) {
      .list-comment .comment-list-item {
        display: table-cell;
        width: 100%;
        display: block;
        padding: 0; } }
    .list-comment .comment-list-item:first-child {
      padding: 0; }
    .list-comment .comment-list-item:last-child {
      padding: 0; }

.add-comment-btn {
  margin-bottom: 2.14286em; }

.sidebar-affix {
  position: fixed;
  top: 0.71429em;
  width: 50%; }

.about-me-header {
  border-top: 1px solid #eeeded;
  border-bottom: 1px solid #eeeded;
  padding: 1.07143em;
  margin-bottom: 1.42857em; }

.about-me-img {
  width: 17.85714em; }

.about-me-title {
  font-size: 1.14286em;
  text-align: center;
  padding: 1.42857em 0.71429em 0.35714em; }

.about-me-line {
  width: 50%;
  margin: 0 auto;
  clear: both; }

.about-me-description {
  font-size: 0.92857em;
  padding: 0.71429em;
  text-align: center; }

.categories-heading {
  border-top: 1px solid #eeeded;
  border-bottom: 1px solid #eeeded;
  padding: 1.07143em; }

.categories-list {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
  line-height: 1.42857em; }
  .categories-list .fa-angle-right {
    padding-right: 10px; }
  .categories-list .categories-list-item {
    display: block;
    border-bottom: 1px solid #eeeded;
    padding: 10px;
    opacity: 0.8; }
    .categories-list .categories-list-item:hover {
      opacity: 1;
      transition: all 0.5s ease;
      font-weight: 500; }

.recent-post-heading {
  border-top: 1px solid #eeeded;
  border-bottom: 1px solid #eeeded;
  padding: 1.07143em;
  margin: 2.14286em 0; }

.recent-post-article {
  padding: 0 1.07143em;
  display: block;
  clear: both; }
  .recent-post-article:hover .recent-post-article-text {
    opacity: 0.8;
    transition: all 0.5s ease; }
  .recent-post-article .recent-post-img {
    width: 40%;
    float: left;
    padding: 0 0.71429em 0.71429em 0.71429em; }
    @media screen and (max-width: 20em) {
      .recent-post-article .recent-post-img {
        padding: 0;
        width: 45%; } }
  .recent-post-article .recent-post-article-text {
    padding-left: 50%; }
    .recent-post-article .recent-post-article-text h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 0.92857em; }
    .recent-post-article .recent-post-article-text p {
      font-style: italic;
      font-size: 0.78571em; }

.recent-post-line {
  padding-top: 0.35714em;
  margin: 1.42857em auto;
  clear: both;
  width: 50%; }

.newsletter-header {
  border-top: 1px solid #eeeded;
  border-bottom: 1px solid #eeeded;
  padding: 1.07143em;
  margin: 2.14286em 0; }

footer {
  width: 100%;
  text-align: center;
  background: url("/assets/images/fott.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  footer .footer {
    padding: 2.85714em; }
    @media screen and (max-width: 48em) {
      footer .footer {
        padding: 0 1.42857em 1.42857em; } }
    footer .footer .copyright {
      opacity: 0.3;
      padding: 1.42857em 0; }
    footer .footer a {
      text-align: center;
      text-transform: uppercase;
      color: rgba(54, 54, 54, 0.66);
      font-weight: 500;
      font-family: "Montserrat", sans-serif; }
      footer .footer a:hover {
        color: black; }
      footer .footer a .social-footer-list-item {
        display: inline-block;
        padding: 1.42857em 2.14286em 1.07143em 2.14286em; }
        @media screen and (max-width: 26.5625em) {
          footer .footer a .social-footer-list-item {
            display: block; } }
    footer .footer .back-to-top-link .fa-chevron-up {
      display: block;
      padding: 0.35714em 0; }

.login-bg {
  background: url("/assets/images/yellow.jpg");
  background-size: cover;
  min-height: 100%;
  background-position: center center;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0; }

.login-container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: table;
  width: 100%;
  table-layout: fixed; }
  .login-container::after {
    clear: both;
    content: "";
    display: block; }
  .login-container .left-section {
    display: table-cell;
    width: 33.33333%; }
  .login-container .right-section {
    display: table-cell;
    width: 66.66667%; }
  .login-container .left-section, .login-container .right-section {
    padding: 2.35765%;
    padding-top: 0; }
    @media screen and (max-width: 47em) {
      .login-container .left-section, .login-container .right-section {
        display: table-cell;
        width: 100%;
        display: block; } }

.login-form-header {
  text-align: right; }
  .login-form-header h2 {
    font-size: 2.14286em;
    color: rgba(54, 54, 54, 0.66);
    text-transform: uppercase;
    letter-spacing: 0.3em; }
  .login-form-header h5 {
    font-family: "Montserrat", sans-serif;
    color: #eeeded;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.3em; }
  @media screen and (max-width: 47em) {
    .login-form-header h2, .login-form-header h5 {
      text-align: center; } }

.login-form {
  padding-left: 1.42857em;
  width: 90%; }
  .login-form h6 {
    text-align: left;
    font-size: 0.85714em;
    font-family: "Montserrat", sans-serif; }
  .login-form .input-name-form, .login-form .input-name-pass {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    border: 1px solid rgba(75, 75, 75, 0.1);
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 1.07143em; }
    .login-form .input-name-form:focus, .login-form .input-name-form:active, .login-form .input-name-form:active, .login-form .input-name-form:hover, .login-form .input-name-pass:focus, .login-form .input-name-pass:active, .login-form .input-name-pass:active, .login-form .input-name-pass:hover {
      text-shadow: none;
      box-shadow: none;
      border-color: rgba(75, 75, 75, 0.1); }
  .login-form .input-name-pass {
    margin-bottom: 1.78571em; }
  .login-form .login-btn {
    border: 1px solid rgba(75, 75, 75, 0.1);
    margin-bottom: 0.71429em; }

.forget-pass {
  color: rgba(54, 54, 54, 0.66);
  display: block; }

@media screen and (max-width: 47em) {
  .input-name-form, .input-name-pass, .forget-pass {
    text-align: center; } }

/*# sourceMappingURL=app.css.map */
