<div class="login-form">
    <form>
        <h6 class="login-params">Email </h6>

        <input type="email" class="input-name-form"/>

        <h6 class="login-params">Password </h6>

        <input type="password" class="input-name-pass"/>


        <button class="login-btn" type="button">login</button>
        <a href="#" class="forget-pass">Forgot password ?</a>
    </form>
</div>