{% extends 'AdminBundle::base/base.html.twig' %}

{% block body %}

    {#LATEST POST#}
    {% include 'AdminBundle::body/home-page/latest-post.html.twig' %}

    {#POPULAR POST#}

    {% include 'AdminBundle::body/home-page/popular-post.html.twig' %}


    <div class="palletes">
        {% include 'AdminBundle::body/home-page/palettes.html.twig' %}
    </div>

    {#TODOLIST#}
    {% include 'AdminBundle::body/home-page/todolist.html.twig' %}

    {#UPCOMING#}
    {% include 'AdminBundle::body/home-page/upcoming.html.twig' %}

    {#WEATHER#}
    {% include 'AdminBundle::body/home-page/weather.html.twig' %}






{% endblock %}