<div class="latest-post-box">
<img src="{{ image }}" alt="image">
<div class="category-top">
    <i class="fa fa-rss" aria-hidden="true"></i>
    <h3>Latest Post</h3>
    <hr class="recent-post-line">

    <div class="text-box-bottom">
        <h2>Where the wild things are review?</h2>
        <hr class="recent-post-line">
        <h3>Category</h3>
        <p>12/ 07 / 2017</p>
    </div>
</div>

</div>