<div class="a-pallete-views">
    <i class="fa fa-globe" aria-hidden="true"></i>
    <div class="palette-text">
        <h3>225</h3>
        <h2>Page views</h2>

    </div>
</div>

<div class="a-pallete-fb">

    <i class="fa fa-facebook" aria-hidden="true"></i>
    <div class="palette-text">
        <h3>225</h3>
        <h2>Facebook Likes</h2>

    </div>
</div>

<div class="a-pallete-instagram">
    <i class="fa fa-instagram" aria-hidden="true"></i>
    <div class="palette-text">
        <h3>225</h3>
        <h2>Instagram Followers</h2>

    </div>
</div>

<div class="a-pallete-comment">
    <i class="fa fa-comments" aria-hidden="true"></i>
    <div class="palette-text">
        <h3>225</h3>
        <h2>Article Comments</h2>

    </div>
</div>
