<div class="popular-post-box">
    <ul>
        <li class="main-popular-article">

            <img src="{{ imagePopular }}" alt="Norway">
            <div class="category-top">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                <h3>Popular Post</h3>
                <hr class="recent-post-line">
                <div class="text-box-bottom">
                    <h2>Where the wild things are review?</h2>
                    <h3>Category</h3>
                    <p>12/ 07 / 2017</p>
                </div>
            </div>
        </li>
        {% for i in 0..1 %}
            <li class="popular-post-article">
                <div class="text-box-bottom">
                    <h3>Category</h3>
                    <p>12/ 07 / 2017</p>
                    <h2>Where the wild things are review?</h2>
                </div>
                {% if i==0 %}
                    <div id="smaller-border"></div>
                {% endif %}

            </li>
        {% endfor %}
    </ul>


</div>

