<div class="todo-box">

    <img src="{{ imageToDO }}" alt="Norway">

    <div class="category-top">
        <i class="fa fa-list-ul" aria-hidden="true"></i>
        <h3>TODO List</h3>
        <hr class="recent-post-line">

        <div class="text-box-bottom">
            {% for i in  0..20 %}
                <div class="check-box-input">
                    <input class="checkbox" type="checkbox" name="{{ i }}" id="{{ i }}"/>
                    <label for="{{ i }}">
                        Todo this work 1
                    </label>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
</div>