<div class="upcoming-box">

    <img src="{{ imageCalendar }}" alt="Norway">

    <div class="category-top">
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        <h3>Upcoming</h3>
        <hr class="recent-post-line">

        <div class="text-box-bottom">
            <h2>Where the wild things are review?</h2>
            <h3>Category</h3>
            <p>12/ 07 / 2017</p>
        </div>
    </div>

</div>