<div class="weather-box">

    <img src="{{ imageWeather }}" alt="Norway">

    <div class="category-top">
        <i class="fa fa-thermometer-empty" aria-hidden="true"></i>
        <h3>wheater</h3>
        <hr class="recent-post-line">

        <div class="text-box-bottom">
            <i class="fa fa-sun-o" aria-hidden="true"></i>
            {#<i class="fa fa-cloud" aria-hidden="true"></i>#}
            {#<i class="fa fa-tint" aria-hidden="true"></i>#}
            {#<i class="fa fa-snowflake-o" aria-hidden="true"></i>#}
            <h3>12</h3>
            <h4><span>o</span>C</h4>

            <p>Today</p>
            <p>12/ 07 / 2017</p>


        </div>
    </div>

</div>