{#LOGO IMG#}
<div class="logo-menu">
    <i  class="fa fa-bars" aria-hidden="true"></i>

    <img class="a-img-logo" src="../{{ logoImg }}" alt="Logo"/>

    <ul>
        <li class="desktop-l-nav-list">
            <a href="#">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                Upcoming
            </a>
        </li>

        <li class="desktop-l-nav-list">
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add new
            </a>
        </li>
    </ul>
</div>

{#NAVBAR LIST#}
{% include 'AdminBundle::navbar/navbar-list.html.twig' %}