<div class="a-right-menu">
    <ul>
        <li class="a-nav-list-item a-nav-title">
            <a href="#">{{ title }}</a>
        </li>

        <li class="a-nav-list-item a-login-list">
            <img class="a-nav-img-profile" src="../{{ myphoto }}" alt="Logo"/>
            <div id="click" class="clon">
                <ul id="submenu">
                    <li>
                        <a href="#">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            My Profile
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                            General Settings
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-power-off" aria-hidden="true"></i>
                            Log out
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="a-nav-list-item">

            <a href="#">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                Upcoming
            </a>
        </li>
        <li class="a-nav-list-item">
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add new
            </a>
    </ul>
</div>