.login-bg
  background: url("/assets/images/yellow.jpg")
  background-size: cover
  min-height: 100%
  background-position: center center
  width: 100%
  height: auto
  position: fixed
  top: 0
  left: 0


.login-container
  @include outer-container()
  position: absolute
  top: 40%
  left: 50%
  transform: translate(-50%, -50%)
  //width: 80%
  @include fill-parent()
  @include row(table)

  .left-section
    @include span-columns(4)


  .right-section
    @include span-columns(8)


  .left-section, .right-section
    @include pad()
    padding-top: 0

    @include media($mobile-tablet)
      @include span-columns(12)
      display: block


@import "login-text"
@import "login-form"