.login-form-header
  text-align: right
  h2
    font-size: em(30)
    color: $grey-black
    text-transform: uppercase
    letter-spacing: 0.3em

  h5
    font-family: $second-font-family
    color: $grey
    font-size: em(14)
    text-transform: uppercase
    letter-spacing: 0.3em

  h2, h5
    @include media($mobile-tablet)
      text-align: center
