.login-form
  padding-left: em(20)
  width: 90%

  h6
    text-align: left
    font-size: em(12)
    font-family: $second-font-family


  .input-name-form, .input-name-pass
    font-family: $second-font-family
    text-align: left
    border: $base-border-no-color $border-login-color
    font-size: em(14)
    background-color: $background-login-color
    margin-bottom: em(15)


    &:focus, &:active, &:active, &:hover
      text-shadow: none
      box-shadow: none
      border-color: $border-login-color

  .input-name-pass
    margin-bottom: em(25)
  .login-btn
    border: $base-border-no-color $border-login-color
    margin-bottom: em(10)


.forget-pass
  color: $grey-black
  display: block

.input-name-form, .input-name-pass,.forget-pass
  @include media($mobile-tablet)
    text-align: center