{% extends 'AdminBundle::base/base.html.twig' %}

{% block body %}
    <div class="a-article-edit">


        {% include 'AdminBundle::body/edit-article-page/main-content-card.html.twig' %}

        {% include 'AdminBundle::body/edit-article-page/aside-card.html.twig' %}

        {% include 'AdminBundle::body/edit-article-page/editor.html.twig' %}

        {% include 'AdminBundle::body/edit-article-page/modal.html.twig' %}
    </div>

{% endblock %}