<div class="main-content-card">

    <input type="text" placeholder="Insert your title here" name="title" id="title"/>
    <div class="image-form">
        <p>Main Image : </p>
        <label class="input-file" for="main-article-img">Import Image</label>
        <input type="file" name="main-article-img" id="main-article-img"/>

        <label class="input-file" for="main-article-img-select">Select Image</label>
        <input type="button" name="main-article-img-select" class="main-article-img-select"
               id="main-article-img-select"/>

    </div>
</div>
