<div class="image-manager-modal">
    <div class="modal-content-aside">
        <input type="text" placeholder="Search"/>
        <input type="submit" value="Upload"/>

        <h2>Preview</h2>
        <img src="{{ imagePopular }}" alt="Norway">
        <p>Image name</p>
        <input type="submit" value="Select"/>

    </div>

    <div class="modal-content-img">
        <h2>Please Select One image</h2>
        {% for j in 0..2 %}
            <div class="img-row-modal">

                <div class="image-modal img-modal-selected">
                    <img src="{{ imageCalendar }}" alt="Norway">
                    <p>Image name</p>
                </div>
                {% for i in 0..1 %}
                    <div class="image-modal">
                        <img src="{{ imageCalendar }}" alt="Norway">
                        <p>Image name</p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <ul class="pagination">
            <li><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
            {% for i in 0..4 %}
                <li><a href="#">{{ i }}</a></li>
            {% endfor %}
            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
        </ul>
    </div>

</div>