
<h1 class="heading-suggestion">you may also like</h1>
<hr class="about-me-line"/>

{% for article in alternativeArticles %}

    <div class="article-suggestion">
        <a href="/article">
            <img src="{{ article.mainImgPath }}" class="image-article-suggestion"/>

            <h1 class="header-category-text-suggestion">{{ article.category }} </h1>
            <h1 class="suggestion-title">{{ article.title }}</h1>
        </a>
    </div>
{% endfor %}
