<div class="article-dashboard">

    {% for i in 0..5 %}
        <div class="article-text">
            <div class="horizontal-line">
                <h3>Category</h3>
                <h2>Where the wild things are review?</h2>
                <h4>by Author</h4>
            </div>

            <div class="articles-btn">
                <p>Published : 27 / 02 / 17</p>
                <button class="crud-btn edit-btn">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    Edit
                </button>
                <button class="crud-btn archive-btn">
                    <i class="fa fa-file-archive-o" aria-hidden="true"></i>
                </button>
                <button class="crud-btn delete-btn">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>

            </div>
        </div>
    {% endfor %}

</div>