<div class="menu">
    <ul>
        <li>Categories
            <ul class="drop-menu">
                {% for i in 0..5 %}
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i>Category</li>
                {% endfor %}
            </ul>
        </li>
        <li>Tags
            <ul class="drop-menu">
                {% for i in 0..3 %}
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i>Fashion</li>
                {% endfor %}
            </ul>
        </li>

        <li class="filter-right-list-item">
            <p>Sort by : Published date
                <i class="fa fa-angle-down" aria-hidden="true"></i></p>
            <ul class="drop-menu right">
                {% for i in 0..2 %}
                    <li>Published date</li>
                {% endfor %}
            </ul>
        </li>

    </ul>
</div>
