{% extends 'AdminBundle::base/base.html.twig' %}

{% block body %}

    {#FILTER#}
    {% include 'AdminBundle::body/articles-page/filter.html.twig' %}

    {#ARTICLE#}
    {% include 'AdminBundle::body/articles-page/article.html.twig' %}
{% endblock %}