<div class="slider-nav"  id="carousel-custom-dots" >

    {% for i in 0..2 %}
        {% if i == 0 %}
            <div class="slide-article-title active">
        {% else %}
            <div class="slide-article-title">
        {% endif %}
                <a href="/article">New HairdoWith Unique</a>

                <div class="post-meta">
                    <a class="post-category" href="#">Beauty</a>

                    <time class="post-date" datetime="2015-11-03T00:25:25+00:00">03.11.2015</time>
                </div>
            </div>



    {% endfor %}

</div>

