<!-- Set up your HTML -->
<div class="owl-carousel">
    {% for imgcarousel in images %}
        <div class="carousel-item">
            <a href="/article"> <img src="{{ imgcarousel }}" alt="none"></a>
        </div>
    {% endfor %}


</div>
