{% extends 'base/base-article.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block body %}

    {#CARTOUSEL#}
    {% embed "home-page/carousel.html.twig" %}{% endembed %}

    {#CAROUSEL NAV SECTION#}
    {% embed "home-page/carousel-nav.html.twig" %}{% endembed %}

    {#ARTICLES SECTION#}
    <div class="articles">
        {% for article in articles %}

            {% if loop.index0 % 3 == 0 %}
                {#MAIN ARTICLE#}
                {% embed "home-page/main-article.html.twig" %}{% endembed %}
            {% else %}
                {#SECONDARY ARTICLES#}
                <div class="secondary-article">
                    {% embed "home-page/secondary-article.html.twig" %}{% endembed %}
                </div>
            {% endif %}

        {% endfor %}

        {#NEXT-PREV#}
        {% embed "home-page/next-prev-section.html.twig" %}{% endembed %}
    </div>



{% endblock %}
