<div class="main-article">
    {#MAIN IMG#}

    <a href="/article">
        <div class="img-wrap">
            <img src="{{ article.mainImgPath }}" class="main-article-img"/>

        </div>

        {#ARTICLE TITLE#}
        <p class="category-text">{{ article.category }}</p>
        <h4 class="title-main-article">{{ article.title }}</h4>
        <p class="date-main-article">{{ article.datePosted|date('d / m / Y') }}</p>
        <p class="content-main-article">{{ article.description }}</p>
    </a>

    <hr class="line-break"/>

    {#SOCIAL ICONS#}
    {% embed "social-icons/social-icons.html.twig" %}{% endembed %}

    <hr class="line-break"/>

</div>
