<div class="pagination">
    <div class="prev-next-text">
        <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i>previous post</a>
    </div>
    <div class="prev-next-text">
        <a href="#">newer post <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>

</div>