<div class="second-article">
    {#MAIN IMG#}

    <a href="/article">
        <img src="{{ article.mainImgPath }}" class="secondary-article-img"/>

        {#ARTICLE TITLE#}
        <h4 class="title-main-article">{{ article.title }}</h4>
        <p class="date-main-article">{{ article.datePosted|date('d / m / Y') }}</p>
        <p class="content-main-article">{{ article.description }}</p>
    </a>

    <hr class="line-break"/>

    {#SOCIAL ICONS#}
    {% embed "social-icons/social-icons.html.twig" %}{% endembed %}

    <hr class="line-break"/>
</div>
