<div class="title-article-big">


    <h1 class="header-category-text">{{ article.category }} </h1>

    <h2 class="header-text-title">{{ article.title| raw }}</h2>

    <div class="header-time">
        <ul class="header-list">
            <li class="header-list-item">3 comments</li>
            <li class="header-list-item">{{ article.datePosted |date('d / m / Y') }}</li>
        </ul>
    </div>
</div>
