<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">

    {% endblock %}
</head>
<body>

{% block container %}
    <div class="container">

        <!-- NAVBAR -->
        {% embed "nav-bar/navbar.html.twig" %}{% endembed %}

        <!-- LOGO -->
        {% embed "logo/logo-heading.html.twig" %}{% endembed %}

        {% block body %}{% endblock %}

        <div class="sidebar">
            {% embed "sidebar/sidebar.html.twig" %}{% endembed %}
        </div> {#END SIDEBAR#}
    </div> <!-- container-->

    <div class="footer">
        {% embed "footer/footer.html.twig" %}{% endembed %}
    </div> {#END FOOTER#}

{% endblock %}





{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ asset('assets/js/owl-carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('assets/js/costumn/home-page/carousel.js') }}"></script>
    <script src="{{ asset('assets/js/costumn/sidebar/affix.js') }}"></script>
{% endblock %}
</body>
</html>
