{% extends 'base/base.html.twig' %}

{% block container %}
    <div class="container">

        <!-- NAVBAR -->
        {% embed "nav-bar/navbar.html.twig" %}{% endembed %}

        <!-- LOGO -->
        {% embed "logo/logo-heading.html.twig" %}{% endembed %}

        {% block body %}{% endblock %}

        <div class="sidebar">
            {% embed "sidebar/sidebar.html.twig" %}{% endembed %}
        </div> {#END SIDEBAR#}
    </div> <!-- container-->

    <div class="footer">
        {% embed "footer/footer.html.twig" %}{% endembed %}
    </div> {#END FOOTER#}
{% endblock %}