.a-body
  @include outer-container()
  .latest-post-box
    @include span-columns(7)
  .popular-post-box
    @include span-columns(5)
  .upcoming-box
    @include span-columns(6)
  .weather-box
    @include span-columns(3)
  .todo-box
    @include span-columns(3)

  .latest-post-box, .upcoming-box, .popular-post-box, .weather-box ,.todo-box
    @include media($tablet-dekstop)
      @include span-columns(12)
      margin-bottom: em(20)

  .latest-post-box
    height: em(360)
    margin-bottom: em(20)
    @include media($mobile-l)
      height: em(250)

  .popular-post-box
    @include omega()
    height: em(360)
    margin-bottom: em(20)

    @include media($mobile-tablet)
      height: em(400)

  .palletes
    .a-pallete-views, .a-pallete-fb, .a-pallete-instagram, .a-pallete-comment
      @include row()
      @include span-columns(3)
      border: $base-border
      height: em(100)
      margin-bottom: em(20)

      @include media($tablet-dekstop)
        @include span-columns(6)
        .a-pallete-fb
          margin: 0

      @include media($mobile-tablet)
        @include span-columns(12)
    &:last-child
      @include omega()
      margin: 0

    @include media($tablet-dekstop)
      .a-pallete-fb
        margin-right: 0

  .upcoming-box, .weather-box ,.todo-box
    height: em(250)

  .weather-box
    @include omega()
