.a-body
  .latest-post-box , .popular-post-box ,.upcoming-box , .weather-box ,.todo-box
    background: $black
    position: relative
    border: none

    img
      height: 100%
      width: 100%
      padding: 0
      opacity: 0.5
      object-fit: cover

    .recent-post-line
      margin: 0

    .category-top
      position: absolute
      width: 100%
      height: 100%
      text-transform: uppercase
      color: $white
      padding: em(20)
      top: 0
      left: 0
      font-family: $raleway-light

  .latest-post-box
    .category-top
      .fa-rss ,h3
        display: inline-block
        padding-right: em(10)
        font-size: em(16)

      .text-box-bottom
        font-family: $third-font-family
        position: absolute
        left: 0
        padding: em(20)
        right: 0
        bottom: 0

        h2
          font-size: em(22)
          padding: 0 em(10) 0 0

        h3, p
          display: inline-block
          font-family: $raleway-light
          padding: em(10) 0
          font-size: em(14)
        p
          float: right
        @include media($mobile-l)
          h2
            font-size: em(18)


