.a-body
  .palletes
    .a-pallete-views, .a-pallete-fb, .a-pallete-instagram, .a-pallete-comment
      @include row()
      overflow: hidden
      opacity: 0.9
    .a-pallete-views
      background-color: #464668
    .a-pallete-fb
      background-color: #355C7d
    .a-pallete-instagram
      background-color: #7f714f
    .a-pallete-comment
      background-color: #5a5050

    .fa-globe, .fa-facebook, .fa-instagram, .fa-comments
      padding: 25px 0 15px 20px
      width: 10%
      margin-left: em(-6)
      font-size: em(100)
      opacity: 0.2
      float: left

    .palette-text
      float: right
      padding: em(5) em(20) 0 0
      width: 90%
      font-size: em(18)
      font-family: $raleway-light
      color: $white
      text-align: right
      h2, h3
        display: block

      h3
        font-size: em(22)
        text-align: right
        margin: 0