.a-body
  .popular-post-box
    border: $base-border
    position: relative
    background: none

    .main-popular-article
      img
        opacity: 0.7

      .category-top
        padding: em(10)

        .fa-thumbs-o-up, h3
          display: inline-block
          padding-right: em(10)
          font-size: em(12)

        .text-box-bottom
          padding: 0 em(10)
          h2
            font-family: $third-font-family
            padding: em(15) 0
            font-size: em(14)
          p
            float: right
            padding: 0

    ul
      height: 100%
      .popular-post-article, .main-popular-article
        display: block
        width: 100%
      .popular-post-article
        height: 30%
        background: white

        #smaller-border
          height: em(1)
          width: 80%
          margin: em(-0.9) auto 0
          background-color: $base-border-color

        .text-box-bottom
          width: 100%
          height: 100%
          padding: em(20) em(20) 0
          @include media($mobile-l)
            padding: em(20) em(10)
          font-family: $raleway-light
          h3
            font-size: em(10)
            margin: 0
          h2
            font-family: $third-font-family
            font-size: em(12)
            margin-top: em(8)
            line-height: em(22)
          p
            padding: 0
            margin-left: em(2)
            float: right
            font-size: em(14)

      .main-popular-article
        height: 40%
        background: $black



