.a-body
  .todo-box
    img
      opacity: 0.7

    .category-top
      overflow: auto
      &::-webkit-scrollbar
        width: em(8)

      &::-webkit-scrollbar-track
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1)

      &::-webkit-scrollbar-thumb
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2)
      .fa-list-ul, h3
        display: inline-block
        padding-right: em(10)
        font-size: em(16)

      .text-box-bottom
        .check-box-input
          padding: em(20) 0 0
          hr
            margin: em(15) 0 0
          label
            font-family: $third-font-family
            font-size: em(13)
            line-height: em(24)
            padding-left: em(30)
            cursor: pointer
            position: relative
            width: 100%
            display: inline
          input[type=checkbox]
            display: none
          label:before
            content: ""
            display: inline-block
            width: em(18)
            height: em(18)
            margin-top: em(2)
            position: absolute
            left: 0
            background-color: $grey
            border: 1px solid $white

          input[type=checkbox]:checked + label:before
            content: "\2713"
            transition: all $base-duration $base-timing
            font-size: em(14)
            line-height: em(14)
            color: $white
            text-align: center