.a-body
  .upcoming-box
    position: relative
    img
      opacity: 0.75
    .category-top
      padding: em(20)

    .fa-calendar-check-o, h3
      display: inline-block
      padding-right: em(10)
      font-size: em(16)

    .text-box-bottom
      position: absolute
      bottom: 0
      left: 0
      right: 0
      padding: em(20)
      h2
        font-family: $third-font-family
        font-size: em(18)
      h3
        font-size: em(12)
      p
        font-size: em(19)
        @include media($mobile-l)
          padding-top: 0