.a-body
  .weather-box
    position: relative
    img
      opacity: 1

    .category-top
      padding: em(20)
    .fa-thermometer-empty, h3
      display: inline-block
      padding-right: em(10)
      font-size: em(16)

    .text-box-bottom
      position: absolute
      bottom: 0
      left: 0
      right: 0
      padding: em(20)
      h2
        font-family: $third-font-family
        font-size: em(18)
      h3, .fa-sun-o, h4, .fa-cloud, .fa-tint ,.fa-snowflake-o
        display: inline-block
        padding-right: 0

      .fa-sun-o ,.fa-cloud ,.fa-tint ,.fa-snowflake-o
        padding-right: em(5)
        font-size: em(50)
      h3
        font-size: em(60)
      h4
        font-size: em(50)
        span
          font-size: em(4)
          vertical-align: top
      p
        font-size: em(19)
        padding: 0
        margin: 0