#{$all-buttons} {
  background-color: $background-nav-color;
  border: $base-border;
  border-radius: $base-border-radius;
  color: $white;
  cursor: pointer;
  display: block;
  //width: 100%;
  font-family: $third-font-family;
  font-size: $base-font-size;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 1;
  padding: $input-padding;
  text-align: center;
  text-decoration: none;
  transition: all $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: rgb(55, 55, 55);
    color: $white!important;
  }
  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $white;
    }
  }
}
