<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/admin-app.css') }}">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">

    {% endblock %}
</head>
<body>
<div class="container-admin">

    <div class="a-navbar">
        {% include 'AdminBundle::navbar/navbar.html.twig' %}
    </div>

    <div class="admin-content">

        {#SIDEBAR DESKTOP#}
        <div id="sidebar" class="a-sidebar-menu">
            {% include 'AdminBundle::sidebar-menu/sidebar-menu.html.twig' %}
        </div>

        {#SIDEBAR- MOBILE#}
        <div id="mySidenav">
            <div id="test" class="sidebar-display-none">
                {% include 'AdminBundle::sidebar-menu/sidebar-menu.html.twig' %}
            </div>
        </div>

        <div class="a-body">
            {% block body %}{% endblock %}

            <div class="a-footer">
                {#FOOTER#}
                {% include 'AdminBundle::footer/footer.html.twig' %}
            </div>
        </div>
    </div>


</div>


{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ asset('assets/js/owl-carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('assets/js/costumn/home-page/carousel.js') }}"></script>
    <script src="{{ asset('assets/js/tinymce/js/tinymce/tinymce.js') }}"></script>
    <script src="{{ asset('assets/js/animate-modal/animatedModal.js') }}"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            height: 500,
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste imagetools"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            imagetools_cors_hosts: ['www.w3schools.com', 'codepen.io'],
            content_css: [
                '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
                '//www.tinymce.com/css/codepen.min.css'
            ]
        });
//        tinymce.init({
//            selector: 'textarea',
//            height: 150,
//            theme: 'modern',
//            file_browser_callback : elFinderBrowser,
//            plugins: [
//                'advlist autolink lists link image charmap print preview hr anchor pagebreak',
//                'searchreplace wordcount visualblocks visualchars code fullscreen',
//                'insertdatetime media nonbreaking save table contextmenu directionality',
//                'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc filemanager'
//            ],
//            toolbar1: 'undo redo | insert | styleselect | bold italic | fontselect | |  fontsizeselect | ' +
//            'alignleft aligncenter alignright alignjustify |  outdent indent' +
//            '| link image media',
//            toolbar2: 'print preview emoticons| bullist numlist forecolor backcolor | codesample',
//            image_advtab: true,
//
//            fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
//            templates: [
//                {title: 'Test template 1', content: 'Test 1'},
//                {title: 'Test template 2', content: 'Test 2'}
//            ],
//            content_css: [
//                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
//                '//www.tinymce.com/css/codepen.min.css'
//            ]
//        });

    </script>
{% endblock %}
</body>
</html>
