.nav
  text-align: center
  padding: 10px

  li
    padding: 10px 15px
    text-transform: uppercase

    a
      opacity: 0.8
      &:hover, &:active, &:focus
        opacity: 1
        transition: all $base-duration $base-timing

