<!-- IMAGE lOGO -->
<img class="logo" src="{{ asset ('assets/images/logoo.png') }}"/>

<!-- IMAGE HEADING DESCRIPTION -->
<div class="logo-description">
    <span class="logo-line"></span>
    <p class="logo-title">
        <em>your fashion blog here</em>
    </p>
    <span class="logo-line"></span>

    {#SOCIAL ICONS#}
    <ul class="social-icon">
    {% embed "social-icons/social-items.html.twig" %}{% endembed %}
    </ul>
</div>
