<div>
    <h1 class="newsletter-header">Newsletter</h1>

    {#FORM#}
    <input type="text" placeholder="Name" class="name-input-subsribe" />
    <input type="text" placeholder="Email" class="name-input-subsribe" />

    <button>Subscribe</button>
</div>
