<section id="sidebar">

    <!-- ABOUT ME -->
    {% embed "sidebar/about-me/about-me.html.twig" %}{% endembed %}

    {#CATEGORIES#}
    {% embed "sidebar/categories/categories.html.twig" %}{% endembed %}

    {#RECENT POST#}
    {% embed "sidebar/recent-post/recent-post.html.twig" %}{% endembed %}

    {#NEWSLETTER#}
    {% embed "sidebar/newsletter/newsletter.html.twig" %}{% endembed %}
</section>
