.owl-carousel
  @include span-columns(12)
  padding: 0
  img
    padding: 0

  @include media($tablet-dekstop)
    padding: 0

  &.owl-loaded
    @include media($mobile-tablet)
      display: none

  //.owl-stage-outer
  //  max-height: em(550)
  //
  //  @include media($desktop)
  //    max-height: em(400)

  .owl-prev, .owl-next
    position: absolute
    top: 50%
    font-size: em(20)
    color: $black
    opacity: 0.5
    border: $base-border
    background-color: $white
    padding: em(10) em(15)

  .owl-next
    right: 0
    margin-right: em(30)
  .owl-prev
    left: 0
    margin-left: em(30)


