.slider-nav
  @include fill-parent()
  @include row(table)
  margin-bottom: em(30)

  @include media($mobile-tablet)
    display: none

  .slide-article-title
    @include span-columns(4 of 12)
    @include omega()

    @include media($tablet-dekstop)
      @include span-columns(12)
      display: none

    padding: em(30)
    text-align: center

    &:first-child, &:last-child
      border: $base-border
    &:nth-child(2)
      @include border($base-border, null, $base-border, null)

    font-family: $second-font-family
    text-transform: uppercase
    font-size: em(15)

    .post-meta
      display: block
      padding-top: em(10)


      .post-category
        display: inline-block
        font-size: em(10)
        color: $grey-black
        padding-right: em(50)
      .post-date
        font-size: em(12)
        //font-style: italic
        display: inline-block

  .active
    background-color: rgba(240,240,240,0.7)
    @include media($tablet-dekstop)
      display: block
