.articles
  @include span-columns(8)
  padding-left: em(20)
  padding-right: em(20)

  @include media($tablet-dekstop)
    @include span-columns(12)
    padding: 0

  .secondary-article
    @include span-columns(4 of 8)
    @include omega()
    width: 50%
    img
      padding: em(10) em(20) em(10) 0
      @include media($mobile-tablet)
        padding: 0

    @include media($mobile-tablet)
      padding: 0
      @include span-columns(12)





.sidebar
  @include span-columns(4)
  @include omega()

  @include media($tablet-dekstop)

    @include span-columns(12)