.main-article
  .main-article-img
    margin: 0
    padding: 0
    width: 100%

  .category-text
    font-family: $monsterat
    font-size: em(11)
    text-transform: uppercase
    padding-top: em(20)
    margin: 0

  .title-main-article
    letter-spacing: em(1)
    text-transform: uppercase
    font-size: em(18)
    margin: 0
    padding-top: $padding-top-article

  .content-main-article
    padding-top: $padding-top-article
    margin: 0
    font-size: em(14)

.date-main-article
  font-size: em(11)
  font-family: $monsterat
  font-style: italic
  margin: 0
  padding-top: $padding-top-article