.pagination
  text-align: center
  text-transform: uppercase
  font-weight: 900

  .prev-next-text
    padding: 0 em(10)
    @include media($tablet-dekstop)
      padding-bottom: em(20)
    @include media($mobile-m)
      padding: em(0) em(0) em(10) 0
    display: inline-block
    a
      color: $grey
      &:hover
        color: black
  .fa-angle-left
    padding-right: em(10)
    @include media($mobile-m)
      margin-left: em(10)

  .fa-angle-right
    padding-left: em(10)
