.second-article
  .secondary-article-img
    width: 100%
    @include media($from-tablet-up)
      padding: 0 0 em(20)

  .title-main-article
    font-size: em(16)
    text-align: center
    text-transform: none
    margin: 0
    padding: em(20) em(10) 0 em(10)
    line-height: em(23)
    @include media($from-tablet-up)
      padding-top: 0

  .content-main-article
    padding: $padding-top-article em(10) 0 em(10)
    margin: 0
    font-size: em(14)

  .date-main-article
    text-align: center