.social-icon-list
  text-align: right
  padding-right: em(20)


  @include media($mobile-m)
    padding-right: 0
  p
    padding: 0
    font-size: em(15)
    line-height: em(15)

  .item-left
    float: left
    color: $grey
    font-style: italic
    p
      display: inline-block
      margin-right: em(5)
    &:hover
      color: $black
      transition: all $base-duration $base-timing

  .social-icon-list-item
    padding: 0 0 0 10px
    display: inline-block
    @include media($mobile-l)
      padding: 0 10px 0 0

    @include social-hover()
    &:hover
      .fa-heart-o
        color: red
        transition: all $base-duration $base-timing

.line-break
  margin-right: em(20)
  @include media($mobile-tablet)
    margin-right: 0
