.a-body
  .article-dashboard
    clear: both
    //border: $base-border

    .article-text
      padding: em(20)
      font-size: em(10)

      .horizontal-line
        border-left: em(3) solid rgb(63, 63, 63)
        display: inline-block
        height: 100%
        padding-left: em(30)
        h2
          font-family: $third-font-family
          font-size: em(22)
          padding: em(5) 0

        h3
          text-transform: uppercase
        h4
          font-style: italic
          text-transform: none
          color: #868686

      .articles-btn
        display: inline-block
        float: right
        padding: em(20) 0 0

        p
          padding-right: em(20)
          //text-transform: uppercase
          font-size: em(18)

        .edit-btn, .archive-btn, .delete-btn
          &:hover
            opacity: 0.8
            transition: all $base-duration $base-timing

        .edit-btn
          background-color: #004700

        .archive-btn
          background-color: #2A0D45

        .delete-btn
          background-color: #7F0000

        .fa-pencil-square-o
          padding-right: em(5)

        p, .crud-btn, .fa-pencil-square-o
          display: inline-block
