.a-body
  .menu
    @include span-columns(12)
    padding: em(20)

    > ul
      display: inline-block
      list-style: none
      cursor: pointer
      width: 100%
      > li
        float: left
        width: em(150)
        text-align: center
        height: em(45)
        line-height: em(45)
        margin-right: em(20)
        color: $white
        background: $background-nav-color
        text-transform: uppercase
        position: relative
        border: $base-border

    ul.drop-menu
      position: absolute
      top: 100%
      left: 0
      width: 100%
      padding: 0
      li
        background: $background-nav-color
        border: $base-border
        border-bottom: none
        font-size: em(12)
        cursor: pointer
        &:hover
          background: rgb(50, 50, 50)
          transition: all $base-duration $base-timing
    ul.drop-menu li
      display: none


    li:hover > ul.drop-menu li
      display: block
      opacity: 0
      font-size: 12px
      line-height: em(45)
      @for $i from 1 through 6
        &:nth-child(#{$i})
          animation:
            name: menu4
            duration: 300ms
            delay: (120ms * $i) - 300
            fill-mode: forwards

    li:hover > ul.drop-menu
      perspective: em(1000)

    @keyframes menu4
      0%
        opacity: 0
        transform: rotateY(-90deg) translateY(30px)

      100%
        opacity: 1
        transform: rotateX(0deg)

    .fa-angle-right
      padding-right: em(10)
    .filter-right-list-item
      float: right
      background: $white
      color: $grey-black
      font-family: $third-font-family
      border: none
      font-size: em(12)
      width: em(270)
      ul.drop-menu li, ul.right
        background: $white
        color: $background-nav-color
        li:hover
          background: #f5f5f5
          transition: all $base-duration $base-timing
        &:last-child
          border-bottom: $base-border
      .fa-angle-down
        padding-left: em(10)

