<h1 class="recent-post-heading">Recent Post</h1>

{% for topArticle in topArticles %}

    <div class="recent-post-article">
        <a href="/article">
            <img class="recent-post-img" src="{{ topArticle.mainImgPath }}"/>
            <div class="recent-post-article-text">
                <h3 class="recent-article-title">Green corner on my home</h3>
                <p class="date-recent-article">January 7, 2017</p>
            </div>
        </a>
    </div>
    <hr class="recent-post-line"/>
{% endfor %}
