
<a href="#">
    <li class="social-icon-list-item"><i class="fa fa-facebook"></i></li>
</a>
<a href="#">
    <li class="social-icon-list-item"><i class="fa fa-twitter"></i></li>
</a>
<a href="#">
    <li class="social-icon-list-item"><i class="fa fa-pinterest-p"></i></li>
</a>
<a href="#">
    <li class="social-icon-list-item"><i class="fa fa-instagram"></i></li>
</a>