<ul class="social-icon-list">
    <a href="#">
        <li class="item-left">
            <p>{{ comments }}</p>
            <i class="fa fa-comment-o"></i>
        </li>
    </a>

    <a href="#">
        <li class="social-icon-list-item"><i class="fa fa-heart-o"></i></li>
    </a>
    {% embed "social-icons/social-items.html.twig" %}{% endembed %}
</ul>
