
    <h1 class="heading-suggestion">comments</h1>
    <hr class="about-me-line" />

    <div class="comments-section">

        {% for comment in comments  %}
            <div class="comment">
        <div class="img-comments"><img src="{{ comment.imgPath }}" /></div>

        <div class="comment-author">
            <h4 class="author"><strong>{{ comment.name }}</strong></h4>
            <p class="comment-text">{{ comment.text }}</p>

            {#SOCIAL ICONS#}
            <ul class="social-icon-list">
                {% embed "social-icons/social-items.html.twig" %}{% endembed %}
            </ul>
            <hr class="about-me-line" />
        </div>
        </div>


        {% endfor %}


        </div>

