.a-sidebar-menu , #mySidenav
  .search-sidebar
    background-color: $background-nav-color
    border: none
    color: $white
    font-size: em(14)
    margin-top: em(15)
    letter-spacing: em(1)
    font-family: $monsterat
    padding: em(12) em(20) 