.a-sidebar-menu
  @include sidebar-display
  top: em(85)

  &::-webkit-scrollbar
    width: em(2)

  &::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)

  &::-webkit-scrollbar-thumb
    border-radius: em(2)
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5)

#mySidenav
  display: none
  @include media($desktop-m-l)
    display: block
    #test
      padding-top: em(20)
      z-index: 1

    .sidebar-display-show
      @include sidebar-display
      top: em(77)
      transition: all 0.9s ease
      left: 0
      //width: em(250)

    .sidebar-display-none
      @include sidebar-display
      transition: all 0.8s ease
      //width: 0
      left: em(-500)
