.sidebar-menu-list
  ul, li
    display: block
    ul
      display: block

  li
    padding: em(15) em(25)
    &:first-child
      padding: em(20)
    margin-bottom: em(4)
    font-size: em(13)
    cursor: pointer

    .fa-home
      padding-right: em(10)

    .fa-angle-right, .fa-angle-up
      float: right
      padding-right: em(10)
      @include media($desktop-dekstop-l)
        padding-right: 0

    .fa-angle-down, .fa-home, .fa-angle-up
      padding-top: em(5)


  .active
    background-color: #515151
    transition: all $base-duration $base-timing
  .inactive
    background-color: rgb(47,47,47)
    transition: all $base-duration $base-timing

  .sidebar-li-has-ul
    ul.sideabar-sub-ul
      display: none
      padding: em(20) em(20) 0
      font-size: em(13)
      li
        padding: em(13) 0
        .icon-sub-sidebar
          color: $grey
          padding-right: em(10)

