body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $title-font-size;
}

h1
 {
  font-family: $monsterat;
  font-size: $title-font-size;
  margin: 0 0 $small-spacing;
  text-transform: uppercase;
  font-weight: $base-font-weight;
  text-align: center;
}

h2,
h3,
h4,
h5,
h6
{
  font-family: $sanchez;
  font-size: $title-font-size;
  margin: em(5) 0;
  text-transform: uppercase;
  font-weight: $base-font-weight;
}

p {
  margin: 0 0 $small-spacing;
  padding: em(10) em(10) em(10) 0;
  line-height: $p-line-height;
  font-size: $p-font-size;
}

a {
  color: $black;
  text-decoration: none;
  transition: all $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: $black;
    //font-weight: 500;
    cursor: pointer;
    transition: all $base-duration $base-timing;
    outline: none;
    text-decoration: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
