
// Typography
$base-font-family: $sanchez;
$second-font-family: $monsterat;

// Font Sizes
$base-font-size: 14px;
$title-font-size: 14px;
$p-font-size: em(14);
$base-font-weight: 500;
$categories-line-height:em(20);
$input-padding: em(15);

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;
$p-line-height: 1.7em;

// Other Sizes
$base-border-radius: 0px;
$base-spacing: $base-line-height * 1em;
$small-spacing: em(10);
$base-z-index: 0;

// Colors
$black: #000000;
$grey: rgb(238, 237, 237);
$white: #fff;
$grey-black: rgba(54, 54, 54, 0.66);

// Font Colors
$base-font-color: $black;

// Border
$base-border-color: $grey;
$base-border: 1px solid $base-border-color;
$base-border-no-color: 1px solid;
$base-border-radius: 0;

// Background Colors
$base-background-color: #fff;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);

// Animations
$base-duration: 0.5s;
$base-timing: ease;
