<div>
    <h1 class="categories-heading">Categories </h1>

    <ul class="categories-list">

        {% for category in categories %}
            <a href="#">
                <li class="categories-list-item"><i class="fa fa-angle-right" aria-hidden="true"></i>{{ category }}</li>
            </a>
        {% endfor %}
    </ul>
</div>