.recent-post-heading
  @include title-border
  margin: em(30) 0

.recent-post-article
  padding: 0 em(15)
  display: block
  clear: both
  &:hover
    .recent-post-article-text
      opacity: 0.8
      transition: all $base-duration $base-timing

  .recent-post-img
    width: 40%
    float: left
    padding: 0 em(10) em(10) em(10)

    @include media($mobile-s)
      padding: 0
      width: 45%

  .recent-post-article-text
    padding-left: 50%

    h3
      font-family: $monsterat
      font-size: em(13)
    p
      font-style: italic
      font-size: em(11)


.recent-post-line
  padding-top: em(5)
  margin: em(20) auto
  clear: both
  width: 50%