.main-img-article
  padding: 0

.title-article-big
  padding: em(15) em(20)
  text-align: center

  .header-category-text
    font-size: em(11)
    opacity: 0.6
    letter-spacing: em(2)
    font-weight: 400
    @include media($mobile-l)
      font-size: em(10)



  .header-text-title
    font-size: em(40)
    @include media($mobile-l)
      font-size: em(20)
    font-weight: 500
    padding: 0



.header-time
  .header-list
    .header-list-item
      display: inline-block
      padding: 0 em(10)
      font-size: em(12)
      color: $grey-black
      text-transform: uppercase
      font-family: $second-font-family