.comments-section
  padding: em(20)

  .comment
    margin-bottom: em(35)
    padding-right: em(50)

    @include media($mobile-tablet)
      padding-right: 0

    .img-comments
      height: em(100)
      border-radius: 100%
      width: em(100)
      float: left

    .comment-author
      padding-left: 15%
      @include media($mobile-m)
        padding-left: 5%
      .author
        font-size: em(16)
      .comment-text
        padding-left: em(15)

      .social-icon-list
        text-align: left
        margin-bottom: em(20)
        @include media($mobile-tablet)
          text-align: center

      .about-me-line
        width: 90%