.leave-comment-text
  margin-top: em(20)
  margin-bottom: em(20)
  height: 100px
  resize: none
  padding-top: em(25)

.list-comment
  display: block
  @include fill-parent()
  @include row(table)


  .comment-list-item

    width: 100%

    @include span-columns(4)
    @include pad()

    @include media($mobile-tablet)
      @include span-columns(12)
      display: block
      padding: 0

    &:first-child
      padding: 0
    &:last-child
      padding: 0

    padding-top: 0
    padding-bottom: 0

    display: inline-block
    margin-bottom: em(10)

.add-comment-btn
  margin-bottom: em(30)