.heading-suggestion
  clear: both
  display: block

.article-suggestion
  @include span-columns(4)
  padding: em(15) 0
  margin: 0
  //@include omega()

  @include media($mobile-tablet)
    @include span-columns(12)
    padding: em(5) 0
    display: block
    margin: 0 auto
    max-width: 70%

  @include media($mobile-l)
    max-width: 100%

  .header-category-text-suggestion

    font-size: em(11)
    letter-spacing: em(0.4)
    font-family: $second-font-family
    margin-top: em(10)
    color: $grey-black

  .suggestion-title
    font-size: em(14)
    padding: em(8)
    text-transform: none