.social-icon
  .social-icon-list-item
    font-size: em(15)

    @include social-hover()


  .share-item
    font-size: em(10)
    font-family: $second-font-family
    text-transform: uppercase
    font-weight: 100
