.article-text-tags
  display: block
  text-align: center

  .link-tag

    padding: em(10) em(20)
    margin-right: em(10)
    @include border($base-border,$base-border,$base-border,$base-border)
    font-family: $second-font-family
    font-size: em(13)
    color: $grey
    font-weight: 100
    text-transform: uppercase
    display: inline-block
    margin-bottom: em(20)

  a
    &:hover
      color: black
      border-color: black
