<footer>
    <div class="footer">
    <img class="logo" src="{{ asset ('assets/images/logoo.png') }}"/>
    <p class="copyright"><em>@2017 - My Blog. All Right Reserved</em></p>

    <ul class="social-footer">

        <a href="#">
            <li class="social-footer-list-item">facebook</li>
        </a>
        <a href="#">
            <li class="social-footer-list-item">Instagram</li>
        </a>
        <a href="#">
            <li class="social-footer-list-item">Twitter</li>
        </a>
        <a href="#">
            <li class="social-footer-list-item">Email</li>
        </a>
    </ul>

    <a href="#" class="back-to-top-link">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>Back to top</a>
    </div>
</footer>