.a-navbar
  background-color: $background-nav-color
  margin: 0
  line-height: em(75)
  vertical-align: middle
  color: $white
  position: fixed
  z-index: 10


  .fa-bars
    font-size: em(15)
    opacity: 0.9
    padding-left: em(10)
    display: none

  .logo-menu
    @include span-columns(2.5)
    text-align: center
    z-index: 1

    display: inline-block
    padding: em(5)
    vertical-align: middle
    box-shadow: 10px 0 5px -2px rgba(24, 24, 24, 0.95)

    .a-img-logo
      width: em(150)
      filter: brightness(5)
      display: inline-block
      vertical-align: middle

    .desktop-l-nav-list
      display: none

    @include media($desktop-m-l)
      @include span-columns(12)
      background-color: $background-nav-color
      text-align: left
      margin: 0
      .a-img-logo
        float: right

      .desktop-l-nav-list
        display: inline
        float: right
        padding: 0 em(20)
        line-height: em(60)
        i
          padding: 0 em(10)
        @include media($mobile-tablet)
          display: none
        li
          display: inline-block

      .fa-bars
        display: inline-block
        float: left
        font-size: em(25)
        padding: em(12)