.a-right-menu
  ul

    li
      line-height: em(75)

      ul
        display: none

      .clon
        -webkit-transition: all 1s
        -moz-transition: all 1s
        -o-transition: all 1s
        transition: all 1s
        animation: menu2 400ms forwards
      .cloff
        opacity: 0
        -webkit-transition: all 1s
        -moz-transition: all 1s
        -o-transition: all 1s
        transition: all 1s
        animation: menu1 400ms forwards

      @keyframes menu1
        0%
          opacity: 0
          transform: rotateY(-90deg) translateY(0px)
        100%
          opacity: 1
          transform: rotateY(0) translateY(0px)

      @keyframes menu2
        0%
          opacity: 1
          transform: rotateY(0) translateY(0px)
        100%
          opacity: 0
          transform: rotateY(-90deg) translateY(0px)

    .profile-subnav-show
      display: block
      position: absolute
      background: rgb(47, 47, 47)
      right: em(-19)
      width: em(170)

      li:last-child
        padding-bottom: em(2)
      li
        display: block
        line-height: em(40)
        text-align: center
        cursor: pointer
        .fa-power-off
          color: #ff4033

        .fa-user, .fa-power-off
          padding-right: em(10)
          font-size: em(10)

        &:hover
          background: $grey
          color: $white
          transition: all $base-duration $base-timing