.a-right-menu

  .a-nav-list-item
    display: inline-block
    float: right
    padding: 0 em(20)

    @include media($desktop-m-l)
      display: none

    .fa-plus, .fa-calendar
      padding: 0 em(10)

    .a-nav-img-profile
      width: em(80)
      border-radius: 100%
      cursor: pointer
      padding: em(16)

      img
        vertical-align: middle



  .a-nav-title
    float: left
    text-transform: uppercase