.categories-heading
  @include title-border

.categories-list
  width: 80%
  margin: 0 auto
  text-align: center
  font-size: em(14)
  line-height: $categories-line-height
  .fa-angle-right
    padding-right: 10px

  .categories-list-item
    display: block
    border-bottom: $base-border
    padding: 10px
    opacity: 0.8

    &:hover
      opacity: 1
      transition: all $base-duration $base-timing
      font-weight: 500

