<div>
    <h1 class="about-me-header">About me</h1>
    <img src="{{ myphoto }}" class="about-me-img"/>
    <h4 class="about-me-title">{{ aboutMe.title }}</h4>
    <hr class="about-me-line"/>
    <p class="about-me-description">{{ aboutMe.description }}</p>
</div>
