.modal-content-aside
  @include span-columns(3)

  input[type="text"]
    padding: $input-padding - 2

  input[type="submit"]
    width: 100%
    margin-bottom: em(25)

  h2
    text-transform: uppercase
    text-align: center
    font-family: $third-font-family
    font-size: em(16)
    padding: em(10) 0
    border-bottom: $base-border
    border-top: $base-border
    letter-spacing: em(0.6)
    margin-bottom: em(10)
  img
    padding: 0
  p
    margin: 0

.modal-content-aside, .modal-content-img
  @include media($tablet)
    @include span-columns(12)

