//EDITOR STYLE

#mceu_23-body, #mceu_24
  padding: em(5)

#mceu_33-body
  margin-bottom: em(5)

.a-editor
  #upload
    display: none
  button:hover
    background: #fff
    color: #313131 !important

.mce-btn:hover,.mce-active, .mce-active:hover
  background: white
