
.main-content-card
  @include span-columns(8)
  //border: $base-border


.aside-card
  @include span-columns(4)
  @include omega()
  border: $base-border
  padding: em(40)

.main-content-card, .aside-card
  margin-bottom: em(20)
  @include media($tablet)
    @include span-columns(12)
.a-editor
  @include span-columns(12)

