.modal-content-img
  @include span-columns(9)
  border-left: $base-border
  padding: 0 0 0 em(20)
  @include media($tablet)
    padding: 0
    border: none

  .img-row-modal
    @include row()
    margin-bottom: em(10)
    cursor: pointer

    .image-modal
      @include span-columns(3 of 9)
      @include media($mobile-tablet)
        @include span-columns(12)
      img
        padding: 0

      p
        padding: em(5)
        margin: 0

    .img-modal-selected
      border: 1px solid
      @include media($mobile-tablet)
        margin-bottom: em(10)
  .pagination
    text-align: center
    margin-top: em(15)
    li
      margin-right: em(-4)
      text-align: center
      padding: em(10) em(15)
      border-top: $base-border
      border-bottom: $base-border
      color: $black
      cursor: pointer
      &:nth-child(1), &:last-child
        border-left: $base-border
        border-right: $base-border
      &:hover
        background: $black
        color: $white
        transition: all $base-timing $base-duration