.main-content-card
  padding: em(20)
  @include media($tablet-dekstop)
    padding: 0

  ::-webkit-input-placeholder
    font-family: $second-font-family
    text-transform: uppercase

  label, input, p
    display: inline-block
    font-size: em(14)
    font-weight: 500

  label
    text-transform: uppercase
    font-size: em(12)

  .image-form
    text-align: center

    input
      &[type="file"], &[type="button"]
        display: block
        width: 0
        opacity: 0
        position: absolute

    p
      font-size: em(16)
      text-transform: uppercase

    .input-file
      padding: em(10)
      background-color: $background-nav-color
      border: $base-border
      color: $white
      cursor: pointer
      font-family: $third-font-family
      text-transform: uppercase
      text-align: center
      //float: right
      margin-left: em(10)
      &:hover
        opacity: 0.8
        transition: all $base-duration $base-timing