.image-manager-modal
  padding: em(20)
  overflow-y: auto
  z-index: 1
  border: $base-border
  background: $white
  width: 100%
  position: absolute

  @import "image-modal"
  @import "aside-modal"

