<ul class="sidebar-menu-list">

    <li>
        <input class="search-sidebar" type="text" placeholder="Search"/>
    </li>

    <li class="active">
        <a href="">
            <i class="fa fa-home" aria-hidden="true"></i>
            Dashboard Home
        </a>
    </li>
    {% for i in 0..3 %}
        <li class="sidebar-li-has-ul inactive">
            <a href="">
                <i class="fa fa-home" aria-hidden="true"></i>
                Dashboard Home
                <i id="angle-down" class="fa fa-angle-right" aria-hidden="true"></i>
            </a>

            <ul class="sideabar-sub-ul">
                {% for i in 0..3 %}
                    <li>
                        <a href="/article">
                            <i class="fa fa-pencil-square-o icon-sub-sidebar" aria-hidden="true"></i>
                            Dashboard 1
                        </a>
                    </li>
                {% endfor %}


            </ul>
        </li>
    {% endfor %}


</ul>
