.about-me-header
  @include title-border
  margin-bottom: em(20)


.about-me-img
  width: em(250)

.about-me-title
  font-size: em(16)
  text-align: center
  padding: em(20) em(10) em(5)

.about-me-line
  width: 50%
  margin: 0 auto
  clear: both

.about-me-description
  font-size: em(13)
  padding: em(10)
  text-align: center