{% extends 'base/base-login.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block body %}
    <div class="login-bg"></div>

    <div class="login-container">

        <div class="left-section">

            {% embed "login-page/login-text/login-text.html.twig" %}{% endembed %}

        </div>
        <div class="right-section">

            {% embed "login-page/login-form/login-form.html.twig" %}{% endembed %}

        </div>

    </div>



{% endblock %}
