.logo
  padding-top: em(20)
  max-width: 80%

.logo-description
  text-align: center

  .logo-line
    width: 5%
    border-top: $base-border
    display: inline-block
    margin: 0 auto

  .logo-title
    display: inline-block
    padding: 10px

.social-icon
  text-align: center
  padding: 0 em(10) em(10)
  a
    display: inline-block
    padding: 0 em(10) em(10)