{% extends 'base/base-article.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block body %}
    {#ARTICLES SECTION#}
    <div class="articles">

        {#MAIN IMG#}
        <img class="main-img-article" src="{{ article.mainImgPath }}"/>
        {% embed "article-page/heading/article-heading.html.twig" %}{% endembed %}

        {#ARTICLE TEXT#}
        <div>
        {{ article.description | raw }}
        </div>

        {#TAGS#}
        {% embed "article-page/tags/tags.html.twig" %}{% endembed %}

        {#SOCIAL ICONS#}
        <ul class="social-icon">
            <a href="#">
                <li class="social-icon-list-item item-left">
                    <p class="share-item">Share</p>
                </li>
            </a>

            {% embed "social-icons/social-items.html.twig" %}{% endembed %}
        </ul>

        {#RELATED ARTICLES#}
        {% embed "article-page/related-article/relate-article.html.twig" %}{% endembed %}

        {#COMMENTS#}
        {% embed "article-page/comments/comments.html.twig" %}{% endembed %}

        {#LEAVE COMMENT FORM#}
        {% embed "article-page/comment-form/comment-form.html.twig" %}{% endembed %}
    </div>
{% endblock %}
