.container-admin
  max-width: 100%

  .a-navbar
    @include row()
    @include span-columns(12)
    float: none

  .admin-content
    @include row()
    padding-top: em(85)
    @include media($desktop-m-l)
      padding-top: em(70)


    .a-sidebar-menu
      @include span-columns(2.5)
      left: 0
      right: 0
      margin: 0

      @include media($desktop-m-l)
        display: none


    .a-body
      @include span-columns(9.6)
      @include omega()
      float: right
      max-width: 100%
      padding: em(20) em(25) em(20) 0

      @include media($desktop-m-l)
        padding-left: em(20)
        @include span-columns(12)

      .a-footer
        @include row()
        @include span-columns(12)

      @include media($desktop-m-l)
        @include span-columns(12)
        float: none
        padding: em(30)