footer
  width: 100%
  text-align: center
  background: url('/assets/images/fott.jpg')
  background-repeat: no-repeat
  background-size: cover

  .footer
    padding: em(40)
    @include media($tablet)
      padding: 0 em(20) em(20)
    .copyright
      opacity: 0.3
      padding: em(20) 0

    a
      text-align: center
      text-transform: uppercase
      color: $grey-black
      font-weight: 500
      font-family: $monsterat

      &:hover
        color: black

      .social-footer-list-item
        display: inline-block
        padding: em(20) em(30) em(15) em(30)

        @include media($mobile-l)
          display: block

    .back-to-top-link
      .fa-chevron-up
        display: block
        padding: em(5) 0


