<section>
    <h1 class="heading-suggestion">leave a comment</h1>
    <hr class="about-me-line" />

        <textarea  class="leave-comment-text" placeholder="Insert  your comment here"></textarea>

        <div class="name-email-content">

            <ul class="list-comment">
                <li class="comment-list-item">
                    <input placeholder="Name" type="text" class="name-comment" />
                </li>
                <li class="comment-list-item">
                    <input placeholder="Email" type="email" class="name-comment" />
                </li>
                <li class="comment-list-item last-name-comment">
                    <input type="text" placeholder="Facebook" class="name-comment last-name-comment" />
                </li>
            </ul>
        </div>
        <button class="add-comment-btn" type="button">comment </button>
</section>